<div class="container-fluid">
  <h1>
    <%= icon_text "cog", _("Cluster Configuration"), class: "page" %>
  </h1>
  <div class="panel panel-default">
    <div class="panel-body" data-help-target="#rightbar > .container-fluid > #helpentries > .attrhelp">
      <%= form_for [@cib, @crm_config], horizontal: true, bootstrap: true, method: :put do |main_form| %>
        <fieldset data-attrlist="<%= @crm_config[:crm_config].to_json %>" data-attrlist-mapping="<%= @crm_config.maplist(:crm_config).to_json %>" data-attrlist-prefix="crm_config[crm_config]" data-attrlist-target=".content">
          <div class="content"></div>
        </fieldset>
        <fieldset data-attrlist="<%= @crm_config[:rsc_defaults].to_json %>" data-attrlist-mapping="<%= @crm_config.maplist(:rsc_defaults).to_json %>" data-attrlist-prefix="crm_config[rsc_defaults]" data-attrlist-target=".content">
          <legend>
            <%= _("Resource Defaults") %>
            <span class="pull-right toggleable">
              <%= icon_tag("chevron-up") %>
            </span>
          </legend>
          <div class="content"></div>
        </fieldset>
        <fieldset data-attrlist="<%= @crm_config[:op_defaults].to_json %>" data-attrlist-mapping="<%= @crm_config.maplist(:op_defaults).to_json %>" data-attrlist-prefix="crm_config[op_defaults]" data-attrlist-target=".content">
          <legend>
            <%= _("Operation Defaults") %>
            <span class="pull-right toggleable">
              <%= icon_tag("chevron-up") %>
            </span>
          </legend>
          <div class="content"></div>
        </fieldset>
        <%= main_form.button_group do %>
          <%= crm_config_apply_button(main_form, @crm_config) %>
          <%= crm_config_revert_button(main_form, @crm_config) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: "shared/helpsidebar", locals: { category: :crm_config, help: :intro, mapping: @crm_config.help_text([:crm_config, :rsc_defaults, :op_defaults]) } %>
