.panel.panel-default
  .panel-body{ data: { help_target: "#rightbar > .container-fluid > #helpentries > .attrhelp" } }
    = form_for [cib, primitive], horizontal: true, bootstrap: true do |main_form|
      = errors_for primitive

      - if primitive.new_record?
        = main_form.text_field :id, label: _("Resource ID")

        - if Util.has_feature?(:rsc_template) && primitive.resource?
          = main_form.select :template, :primitive_template_options, { include_blank: true, include_hidden: false }, { label: _("Template") }

        = main_form.select :clazz, :primitive_clazz_options, { include_blank: true, include_hidden: false }, { label: _("Class") }
        = main_form.select :provider, :primitive_provider_options, { include_blank: true, include_hidden: false }, { label: _("Provider") }
        = main_form.select :type, :primitive_type_options, { include_blank: true, include_hidden: false }, { label: _("Type") }
      - else
        = main_form.text_field :id, label: _("Resource ID"), readonly: true

        - if Util.has_feature?(:rsc_template) && primitive.resource?
          = main_form.text_field :template, label: _("Template"), readonly: true

        = main_form.text_field :clazz, label: _("Class"), readonly: true
        = main_form.text_field :provider, label: _("Provider"), readonly: true
        = main_form.text_field :type, label: _("Type"), readonly: true
      #agent-info.form-group.hidden
        %label.col-sm-5.control-label
        .col-sm-7
          %a.btn.btn-sm.btn-info{ href: "#", role: "button", data: { toggle: :modal, target: "#modal-lg" } }
            = icon_tag "info"

      %p#editform-loading.centered.text-center{style: "display: none;"}
        %i.fa.fa-2x.fa-spinner.fa-spin.text-info

      #paramslist
      #oplist
      #metalist

      = main_form.button_group do
        - if primitive.new_record?
          = main_form.submit(_("Create"), class: "btn btn-primary submit", name: "submit", disabled: true)
        - else
          = main_form.submit(_("Apply"), class: "btn btn-primary submit", name: "submit", disabled: true)
          = revert_button(main_form, primitive)

        = link_to _("Back"), edit_cib_config_path(cib_id: cib.id), class: "btn btn-default back"


%script#jstmpl-paramslist{type: "text/x-jsrender"}
  %fieldset{ data: {attrlist: primitive.params.to_json, attrlist_target: '.content', attrlist_prefix: "#{primitive.class.cib_type}[params]"}}
    %legend
      = _("Parameters")
      %span.pull-right.toggleable
        = icon_tag("chevron-up")
    .content

%script#jstmpl-metalist{type: "text/x-jsrender"}
  %fieldset{ data: {attrlist: primitive.meta.to_json, attrlist_target: '.content', attrlist_prefix: "#{primitive.class.cib_type}[meta]", attrlist_mapping: primitive.available_meta.to_json }}
    %legend
      = _("Meta Attributes")
      %span.pull-right.toggleable
        = icon_tag("chevron-up")
    .content

%script#jstmpl-oplist{type: "text/x-jsrender"}
  %fieldset{ data: {oplist: primitive.ops.to_json, oplist_target: '.content', oplist_prefix: "#{primitive.class.cib_type}[ops]", oplist_mapping: primitive.available_opmeta.to_json}}
    %legend
      = _("Operations")
      %span.pull-right.toggleable
        = icon_tag("chevron-up")
    .content
 
