.container-fluid
  .row
    %h1
      = icon_text "file-o", @title, class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("trash", _("Delete")), path_for_resource(cib_id: @cib.id, id: @primitive.id), method: "delete", class: "btn btn-default", data: { confirm: _("Are you sure you wish to delete %s?") % @primitive.id }
          = link_to icon_text("list-ul", _("List")), path_for_list, class: "btn btn-default"

  .row
    = render partial: "primitives/form", locals: { cib: @cib, primitive: @primitive }

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.primitive
      = localized_help

    .row.agentinfo

    #helpentries

%script#tmpl-helpentry{type: "text/x-jsrender"}
  .row.attrhelp{ class: "{{:name}}" }
    %h3.margin-bottom
      %code
        {{>name}}
    {{if longdesc != ""}}
    {{>longdesc}}
    {{/if}}
    {{if default != ""}}
    %em
      Default:
      %code
        {{>default}}
    {{/if}}

%script#tmpl-metahelp{type: "text/x-jsrender"}
  - @primitive.available_meta.each do |key, values|
    .row.attrhelp{ class: key }
      %h3.margin-bottom
        = content_tag :code, key
      - if values[:longdesc]
        = simple_format values[:longdesc]
      - unless values[:default].blank?
        = content_tag :em, "Default: <code>#{sanitize values[:default].to_s}</code>".html_safe
