.container-fluid
  .row
    %h1
      = icon_text "file-o", @title, class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("plus", _("Create")), path_for_new_resource, class: "btn btn-default"

  .row
    .panel.panel-default
      %table.table.table-striped.primitives

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.primitive
      = localized_help

    - Primitive.mapping.each do |key, values|
      - next unless values[:longdesc]

      .row{ class: key }
        %h2.margin-bottom
          = key

        = simple_format values[:longdesc]
