.panel.panel-default
  .panel-body{ data: { help_target: "#rightbar > .container-fluid > #helpentries > .attrhelp" } }
    = form_for [cib, order], horizontal: true, bootstrap: true do |main_form|
      = errors_for order

      - if order.new_record?
        = main_form.text_field :id, label: _("Constraint ID")
      - else
        = main_form.text_field :id, label: _("Constraint ID"), readonly: true

      #order_score_group.form-group{ data: { help_filter: ".row.score" } }
        %label.col-sm-5.control-label{ for: "order_score" }= _("Score")
        .col-sm-7
          .input-group
            .input-group-btn
              %button#order_score_btn.btn.btn-default.dropdown-toggle{ type: :button, aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown } }
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{ href: "#", data: { value: "Mandatory" } }= _("Mandatory")
                  %a{ href: "#", data: { value: "Optional" } }= _("Optional")
                  %a{ href: "#", data: { value: "Serialize" } }= _("Serialize")
            %input#order_score.form-control.text-field{ type: :text, name: "order[score]", value: order.score }

      = main_form.select :symmetrical, :boolean_options, { include_hidden: false, include_blank: false }, id: nil, label: _("Symmetrical")

      %fieldset{ data: { constraints: order.resources.to_json, constraints_available: available_order_resources.to_json, constraints_selects: available_order_actions.to_json, constraints_prefix: "order[resources]", constraints_target: ".content" } }
        %legend
          = _("Resources")
          %span.pull-right.toggleable
            = icon_tag("chevron-up")

        .content.constraints

      = main_form.button_group do
        - if order.new_record?
          = create_button(main_form, order)
          = link_to _("Back"), types_cib_constraints_path(cib_id: cib.id), class: "btn btn-default back"
        - else
          = apply_button(main_form, order)
          = revert_button(main_form, order)
          = link_to _("Back"), edit_cib_config_path(cib_id: cib.id), class: "btn btn-default back"
