.panel.panel-default
  .panel-body
    = form_for [cib, order], horizontal: true do |main_form|
      /= errors_for order

      /- if order.new_record?
      /  = main_form.text_field :id, label: _('Order ID')
      /- else
      /  = main_form.text_field :id, label: _('Order ID'), readonly: true

      /= main_form.select :roles, :role_options, { include_hidden: false }, { multiple: true, size: 5 }

      = main_form.button_group do
        - if order.new_record?
          = create_button(main_form, order)
        - else
          = apply_button(main_form, order)
          = revert_button(main_form, order)

        = link_to _('Back'), types_cib_constraints_path(cib_id: cib.id), class: 'btn btn-default back'
