- if request.xhr?
  .modal-header
    %button.close{ type: 'button', data: { dismiss: 'modal' } }
      %span{ aria: { hidden: 'true' } }
        &times;
      %span.sr-only
        = _('Close')

    %h3.modal-title
      = icon_text 'question', page_title, class: 'page'

  .modal-body
    %ul.media-list
      - base_docs.each do |doc|
        %li.media
          .media-body
            %h4.media-heading
              .btn-group.pull-right
                = link_to icon_tag("#{doc[:icon]} fa-fw fa-lg"), doc[:url], target: '_blank', class: "btn btn-#{doc[:style]} btn-lg", title: doc[:title]
              = doc[:title]
            = doc[:desc]

      - installed_docs.each do |doc|
        %li.media
          .media-body
            %h4.media-heading
              .btn-group.pull-right
                - if doc[:html].exist?
                  = link_to icon_text('file-image-o', _('HTML')), docs_link(doc, :html), target: '_blank', class: 'btn btn-default btn-xs'

                - if doc[:pdf].exist?
                  = link_to icon_text('file-pdf-o', _('PDF')), docs_link(doc, :pdf), target: '_blank', class: 'btn btn-default btn-xs'

              = doc[:title]

            = doc[:desc]

  .modal-footer
    %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
      = _('Close')
