<% if @step_params.any? %>
<% content_for :head do %>
<%= stylesheet_link_tag 'ui.attrlist.css' %>
<%= javascript_include_tag 'jquery.ui.attrlist.js' %>
<style type="text/css">
/* TODO(should): this does not belong here (also need to remove
   inline style from various elements) */
th { font-weight: bold; }
input[type=text] { width: 13em; }
select { width: 6.5em; }
select.type { width: 13em; }
</style>
<% end %>
<script type="text/javascript">

var step_params = <%= @step_params.to_json %>;

function enable_apply() {
  enable = true;
  $.each(step_params, function(n, v) {
    if (v.required && $.trim($("#step_params_" + n).val()) == "") {
      enable = false;
      return false;
    }
  });
  if (enable) {
    $("#next").removeAttr("disabled");
  } else {
    $("#next").attr("disabled", "disabled");
  }
}

$(function() {
  $.each(step_params, function(n, v) {
    $("#step_params_" + n).keypress(function(e) {
      return e.keyCode != 13;
    }).focus(function() {
      if (step_params[n].shortdesc || step_params[n].longdesc) {
        $("#help-shortdesc").html(escape_html(step_params[n].shortdesc));
        $("#help-longdesc").html(step_params[n].longdesc != step_params[n].shortdesc
          ? escape_html(step_params[n].longdesc) : "");
        $("#help").show();
      } else {
        $("#help").hide();
      }
    }).bind("keyup change", function() {
      enable_apply();
    }).blur(function() {
      if (this.type =="text") {
        var v = $.trim(this.value);
        if (v != this.value) {
          this.value = v;
          enable_apply();
        }
      }
    });
  });
  enable_apply();
});
</script>
<% end %>
<script type="text/javascript">
var anything_changed = true;  // fake, for confirm_revert
$(function() {
<%= render :partial => 'shared/confirm_revert', :locals => { :button_ids => '#cancel' } %>
  $($("#next")[0].form).submit(function() {
    $("#next").attr("disabled", "disabled");  // Prevent double-submit
  });
});
</script>
<h2><%=h _("%{workflow}: %{step}") % { :workflow => @workflow_shortdesc, :step => @step_shortdesc } %></h2>
<div id="wizard-body">
<% if @step == "confirm" %>
<p><%=h _("The following configuration will be applied to the cluster:") %></p>
<% elsif @step_longdesc %>
<p><%=h @step_longdesc %></p>
<% end %>
<% @errors.each do |message| %>
  <div class="ui-state-error ui-corner-all" style="padding: 0.5em; margin-bottom: 0.5em;"><%=h message %></div>
<% end %>
<%= form_tag(:action => 'run') do %>
<%= hidden_field_tag "workflow", params[:workflow] %>
<%= hidden_field_tag "step", @step %><%= hash_as_hidden_fields(:all_params => @all_params) %>
<table>
  <tr style="vertical-align: top;">
    <td>
      <% if @step_params.any? %>
      <table class="wizard-param">
        <% @step_required.each {|param| concat render :partial => 'param_row', :locals => { :id => param, :param => @step_params[param] } } %>
        <% @step_optional.each {|param| concat render :partial => 'param_row', :locals => { :id => param, :param => @step_params[param] } } %>
      </table>
      <% end %>
      <% if @crm_script %>
      <pre><%=h @crm_script %></pre>
      <script type="text/javascript">
      $(function() {
        $("#next").removeAttr("disabled");
      });
      </script>
      <% end %>
      <% if @commit_error %>
      <div class="ui-state-error ui-corner-all" style="padding: 0.5em; margin-bottom: 0.5em;"><%=h _("Error applying configuration:") %>
      <pre><%=h @commit_error %></pre>
      </div>
      <% end %>
    </td>
    <td style="padding-left: 1em; max-width: 30em;">
      <div id="help" class="ui-state-highlight ui-corner-all" style="padding: 0.5em; display: none;">
        <div id="help-shortdesc" style="padding-bottom: 0.5em;"></div>
        <div id="help-longdesc"></div>
      </div>
    </td>
  </tr>
</table>
</div>
<table>
  <tr>
    <td style="width: 30em; text-align: right;">
      <%= submit_tag _('Cancel'), { :id => "cancel", :name => "cancel" } %>
      <%= submit_tag _('< Back'), { :id => "back", :name => "back" } %>
      <%= submit_tag _('Next >'), { :id => "next", :name => "next", :disabled => true } %>
    </td>
  </tr>
</table>
<% end %>

