<% if @descs.empty? %>
<div class="ui-state-error ui-corner-all" style="padding: 0.5em; margin-bottom: 0.5em;"><%=h _('No workflow descriptions found') %></div>
<div><%= link_to _('Back'), status_path %></div>
<% else %>
<script type="text/javascript">
var descs = <%= @descs.to_json %>;
function enable_next() {
  var w = $("#workflow").val();
  if (w) {
    $("#next").removeAttr("disabled");
  }
  if (descs[w] && descs[w].longdesc) {
    $("#info-longdesc").html(escape_html(descs[w].longdesc));
    $("#info-longdesc").show();
  } else {
    $("#info-longdesc").hide();
  }
}
$(function() {
  enable_next();
  $("#workflow").change(enable_next);
});
</script>
<h2><%=h _("Choose Configuration") %></h2>
<div id="wizard-body">
<p><%=h _("This wizard will guide you through the steps necessary to add one of the following configurations to the cluster.") %></p>
<%= form_tag(:action => 'run') do %>
<%= hidden_field_tag "step", @step %>
<table>
  <tr style="vertical-align: top;">
    <td><%= select_tag "workflow",
        options_for_select(@descs.map{|k,d| [d[:shortdesc], k]}.sort{|a,b| a[1] <=> b[1]}, params[:workflow]),
        { :size => 9, :style => "min-width: 10em" }
      %></td>
    <td style="padding-left: 1em; max-width: 30em;">
      <div id="info-longdesc" class="ui-state-highlight ui-corner-all" style="padding: 0.5em; display: none; margin-bottom: 1em;"></div>
    </td>
  </tr>
</table>
</div>
<table>
  <tr>
    <td style="width: 30em; text-align: right;">
      <%= submit_tag _('Cancel'), { :id => "cancel", :name => "cancel" } %>
      <%= submit_tag _('Next >'), { :id => "next", :name => "next", :disabled => true } %>
    </td>
  </tr>
</table>
<% end %>
<% end %>
