.panel.panel-default
  .panel-body{ data: { help_target: "#rightbar > .container-fluid > #helpentries > .attrhelp" } }
    = form_for [cib, location], horizontal: true, bootstrap: true do |main_form|
      = errors_for location

      - if location.new_record?
        = main_form.text_field :id, label: _("Constraint ID"), data: { help_filter: ".row.id" }
      - else
        = main_form.text_field :id, label: _("Constraint ID"), readonly: true, data: { help_filter: ".row.id" }

      = main_form.select :resources, :location_resource_options, { include_hidden: false }, { multiple: true, size: 5, data: { help_filter: ".row.resources" } }

      .panel.panel-default.with-nav-tabs#location-variants
        .panel-heading
          %ul.nav.nav-tabs{ role: :tablist }
            %li.active{ role: :presentation }
              %a{ role: :tab, href: "#locsimple", aria: { controls: :locsimple }, data: { toggle: :tab } }
                = _("Simple")
            %li{ role: :presentation }
              %a{ role: :tab, href: "#locadvanced", aria: { controls: :locadvanced }, data: { toggle: :tab } }
                = _("Advanced")
        .panel-body
          .tab-content
            #locsimple.tab-pane.active{ role: :tabpanel }
              .panel-body
                .form-group{ data: { help_filter: ".row.score" } }
                  %label.col-sm-5.control-label{ for: "simple-score" }= _("Score")
                  .col-sm-7
                    .input-group
                      .input-group-btn
                        %button#simple-score-btn.btn.btn-default.dropdown-toggle{ type: :button, aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown } }
                          %span.caret
                        %ul.dropdown-menu
                          %li
                            %a{ href: "#", data: { value: "INFINITY" } }= _("Always")
                            %a{ href: "#", data: { value: "-INFINITY" } }= _("Never")
                            %a{ href: "#", data: { value: "0" } }= _("Advisory")
                      %input#simple-score.form-control{ type: :text }
                .form-group{ data: { help_filter: ".row.node" } }
                  %label.col-sm-5.control-label{ for: "simple-node" }= _("Node")
                  .col-sm-7
                    %select#simple-node.form-control
                      %option{ value: "", selected: "selected" }
                      - @cib.nodes.each do |node|
                        %option{ value: node[:name] }= node[:name]

            #locadvanced.tab-pane{ role: :tabpanel }
              .panel-body
                = main_form.select :discovery, :location_discovery_options, { include_blank: true, include_hidden: false }, { label: _("Resource Discovery"), data: { help_filter: ".row.resource-discovery" } }

                %div{ data: { locations: location.rules.to_json, locations_prefix: "location[rules]", locations_target: ".content" } }
                  .content.locations

      = main_form.button_group do
        - if location.new_record?
          = create_button(main_form, location)
          = link_to _("Back"), types_cib_constraints_path(cib_id: cib.id), class: "btn btn-default back"
        - else
          = apply_button(main_form, location)
          = revert_button(main_form, location)
          = link_to _("Back"), edit_cib_config_path(cib_id: cib.id), class: "btn btn-default back"
