.panel.panel-default
  .panel-body
    = form_for [cib, location], horizontal: true do |main_form|
      = errors_for location

      - if location.new_record?
        = main_form.text_field :id, label: _("Constraint ID")
      - else
        = main_form.text_field :id, label: _("Constraint ID"), readonly: true

      = main_form.select :resource, :location_resource_options, { include_hidden: false }, { multiple: true, size: 5 }

      = main_form.select :discovery, :location_discovery_options, { include_blank: true, include_hidden: false }, { label: _("Resource Discovery") }

      %div{ data: { locations: location.rules.to_json, locations_prefix: "location[rules]", locations_target: ".content" } }
        .content.locations

      = main_form.button_group do
        - if location.new_record?
          = create_button(main_form, location)
        - else
          = apply_button(main_form, location)
          = revert_button(main_form, location)

        = link_to _("Back"), edit_cib_path(cib.id), class: "btn btn-default back"
