<% content_for :head do %>
<%= stylesheet_link_tag 'ui.expression.css' %>
<%= stylesheet_link_tag 'ui.location.css' %>
<%= javascript_include_tag 'jquery.ui.expression.js' %>
<%= javascript_include_tag 'jquery.ui.location.js' %>
<style type="text/css">
/* TODO(should): this does not belong here, also get rid of inline style */
th { font-weight: bold; }
input[type=text] { width: 13em; }
select { width: 13em; }
</style>
<% end %>
<script type="text/javascript">

var anything_changed = false;

function enable_apply() {
  anything_changed = true;
  var enable = $("#location_id").val() != "" && $("#location_score").val() != "" &&
    $("#location_rsc").val() != "";
  if (!$("#constraint").location("valid")) {
    enable = false;
  }
  if (enable) {
    $("#location_submit").removeAttr("disabled");
    $("#location_revert").removeAttr("disabled");
  } else {
    disable_apply();
  }
}

function disable_apply() {
  $("#location_submit").attr("disabled", "disabled");
  $("#location_revert").attr("disabled", "disabled");
}

$(function() {
  $("#constraint").location({
    rules: <%= @loc.rules.to_json %>,
    nodes: <%= @cib.nodes.map{|n| n[:uname] }.to_json %>,
    labels: {
      score: "<%= escape_javascript _('Score') %>",
      node: "<%= escape_javascript _('Node') %>",
      role: "<%= escape_javascript _('Role') %>",
      bool_op: "<%= escape_javascript _('Boolean Op') %>",
      expr: "<%= escape_javascript _('Expression') %>",
      add: "<%= escape_javascript _('Add') %>",
      remove: "<%= escape_javascript _('Remove') %>",
      add_rule: "<%= escape_javascript _('Add Rule') %>",
      remove_rule: "<%= escape_javascript _('Remove Rule') %>",
      advanced: "<%= escape_javascript _('Show Rule Editor') %>"
    },
    prefix: "location[rules]",
    dirty: function(event, info) {
      enable_apply();
    }
  });
  $("#location_id,#location_score,#location_rsc")
    .bind("keyup change", function() {
      enable_apply();
    }).focus();

<%= render :partial => 'shared/confirm_revert', :locals => { :button_ids => '#location_revert,#location_cancel' } %>
});
</script>
<% form_for([ @cib, @loc ]) do |f| %>
<% flash.each do |flash_type, message| %>
  <div id="flash-<%= flash_type %>" class="ui-state-<%= flash_type %> ui-corner-all" style="padding: 0.5em; margin-bottom: 0.5em;"><%=h message %></div>
<% end %>
<% @loc.errors.each do |message| %>
  <div class="ui-state-error ui-corner-all" style="padding: 0.5em; margin-bottom: 0.5em;"><%=h message %></div>
<% end %>
<table>
  <tr>
    <th><%=h f.label :id, _('Constraint ID') %></th>
    <th><%=h f.label :rsc, _('Resource') %></th>
  </tr>
  <tr>
    <td><%= f.text_field :id %></td>
    <td><%= f.select :rsc, options_for_select(([@loc.rsc] + @cib.resources.map{|r|
          r[:id] }).uniq.sort{|a,b| a.natcmp(b, true)}, @loc.rsc) %></td>
  </tr>
  <tr>
    <td colspan="2">
      <div id="constraint"></div>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: right;">
      <%= f.submit _('Create Constraint'), { :disabled => true } %>
      <%= f.submit _('Revert Changes'), { :id => 'location_revert', :name => 'revert', :disabled => true, :style => 'display: none;' } %>
      <%= f.submit _('Back'), { :id => 'location_cancel', :name => 'cancel' } %>
    </td>
  </tr>
</table>
<% end %>

