.container-fluid
  .row
    %h1
      = icon_text "bullhorn", _("Status"), class: "page"
      .pull-right
        .circle.circle-medium.page{ class: status_class_for(@cib.meta.status) }
          = status_icon_for(@cib.meta.status)

  .row.errors.softhide#errors{ data: { link: "visible{>errors.length > 0}" } }
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %h2.panel-title
            %a{ href: "#errors" }
              = _("Errors")

        %ul.list-group{ data: { link: "{for errors tmpl='statusError'}" } }

  .row#resources
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %h2.panel-title
            %a{ href: "#resources" }
              = _("Resources")

        %table.table.table-striped.resources

  .row#nodes
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %h2.panel-title
            %a{ href: "#nodes" }
              = _("Nodes")

        %table.table.table-striped.nodes

  .row#tickets.softhide{ data: { link: "visible{>booth.tickets.length > 0}" } }
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %h2.panel-title
            %a{ href: "#tickets" }
              = _("Tickets")

        %table.table.table-striped.tickets

%script#statusError{ type: "text/x-jsrender" }
  %li.list-group-item{ data: { link: "class{merge:success toggle='list-group-item-success'} class{merge:info toggle='list-group-item-info'} class{merge:warning toggle='list-group-item-warning'} class{merge:danger toggle='list-group-item-danger'}" } }
    {^{if link}}
    %a{ data: { link: "href{:link}" } }
      {{:msg}}
    {{else}}
    {{:msg}}
    {{/if}}
