.container-fluid
  .row
    %h1
      = icon_text "bullhorn", _("Status"), class: "page"
      .pull-right
        .circle.circle-medium.page{ class: status_class_for(@cib.meta.status) }
          = status_icon_for(@cib.meta.status)

  .row.errors.softhide{ data: { link: "visible{>errors.length > 0}" } }
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %h2.panel-title
            = _("Errors")

        %ul.list-group{ data: { link: "{for errors tmpl='statusError'}" } }

  .row
    .col-lg-12
      .panel.panel-default.with-nav-tabs
        .panel-heading
          %ul.nav.nav-tabs
            %li.active
              = link_to "#resources", data: { toggle: "tab" } do
                = _("Resources")
                %span.badge{ data: { link: "resources.length" } }
                  = @cib.primitives.count
            %li
              = link_to "#constraints", data: { toggle: "tab" } do
                = _("Constraints")
                %span.badge{ data: { link: "constraints.length" } }
                  = @cib.constraints.count
            %li
              = link_to "#nodes", data: { toggle: "tab" } do
                = _("Nodes")
                %span.badge{ data: { link: "nodes.length" } }
                  = @cib.nodes.count

        .panel-body
          .tab-content
            #resources.tab-pane.fade.in.active
              %table.table.table-striped.resources

            #constraints.tab-pane.fade
              %table.table.table-striped.constraints

            #nodes.tab-pane.fade
              %table.table.table-striped.nodes

%script#statusError{ type: "text/x-jsrender" }
  %li.list-group-item{ data: { link: "class{merge:success toggle='list-group-item-success'} class{merge:info toggle='list-group-item-info'} class{merge:warning toggle='list-group-item-warning'} class{merge:danger toggle='list-group-item-danger'}" } }
    {^{if link}}
    %a{ data: { link: "href{:link}" } }
      {{:msg}}
    {{else}}
    {{:msg}}
    {{/if}}
