.container-fluid
  .row
    %h1
      = icon_text "bullhorn", _("Status"), class: "page"
      .pull-right
        .circle.circle-medium.page{ class: status_class_for(@cib.meta.status) }
          = status_icon_for(@cib.meta.status)

  .row.softhide{ data: { link: "visible{>errors.length > 0}" } }
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %h2.panel-title
            = _("Errors")

        %ul.list-group
          = jsviews_for "errors" do
            %li.list-group-item
              %a{ data: { link: "href{:link}" } }
                {{:msg}}

  .row
    .col-lg-12
      .panel.panel-default.with-nav-tabs
        .panel-heading
          %ul.nav.nav-tabs
            %li.active
              = link_to "#resources", data: { toggle: "tab" } do
                = _("Resources")
                %span.badge{ data: { link: "resources.length" } }
                  = 55 # @cib.resources.count
            %li
              = link_to "#constraints", data: { toggle: "tab" } do
                = _("Constraints")
                %span.badge{ data: { link: "constraints.length" } }
                  = @cib.constraints.count
            %li
              = link_to "#nodes", data: { toggle: "tab" } do
                = _("Nodes")
                %span.badge{ data: { link: "nodes.length" } }
                  = @cib.nodes.count

        .panel-body
          .tab-content
            #resources.tab-pane.fade.in.active
              %table.table.table-striped.resources

            #constraints.tab-pane.fade
              %table.table.table-striped.constraints

            #nodes.tab-pane.fade
              %table.table.table-striped.nodes
