.container-fluid
  .row
    %h1
      = icon_text "clock-o", _("History"), class: "page"

  .row
    .panel.panel-default.with-nav-tabs
      .panel-heading
        %ul.nav.nav-tabs
          %li.active
            %a{ href: "#generate", data: { toggle: "tab" } }
              = _("Generate")
          %li
            %a{ href: "#upload", data: { toggle: "tab" } }
              = _("Upload")

      .panel-body
        .tab-content
          #generate.tab-pane.fade.in.active
            = form_tag generate_explorers_path(format: "json"), remote: true, multipart: false, method: "post", class: "generate" do
              = hidden_field_tag :authenticity_token, form_authenticity_token
              = hidden_field_tag "explorer[from]", generate_start
              = hidden_field_tag "explorer[until]", generate_until

              .form-group.input-group
                .form-control.form-control-static.rangefield
                  = icon_tag("calendar")
                  %span.current
                    = generate_range
                  %span.caret

                .input-group-btn
                  %button.btn.btn-primary{ type: "submit", name: "generate" }
                    = icon_text("search", _("Generate"))

          #upload.tab-pane.fade
            = form_tag upload_explorers_path(format: "json"), remote: false, multipart: true, method: "post", class: "upload"  do
              .form-group
                %input.form-control.uploadfield{ type: "file", name: "explorer[upload]" }

  .row
    .panel.panel-default
      %table.table.table-striped.explorers
