!!!

%html{ lang: I18n.locale }
  %head
    %title
      = h @title

    = current_metatags

    %link{ href: image_path('favicon.png'), rel: 'shortcut icon' }

    = stylesheet_link_tag 'vendor'
    = stylesheet_link_tag 'application'

    = yield :stylesheets

    = javascript_include_tag 'vendor'
    = javascript_include_tag 'application'

    = yield :javascripts

    /[if lt IE 9]
      = stylesheet_link_tag 'ie'
      = javascript_include_tag 'ie'

  %body{ id: controller_name, data: { status: status_cib_checks_path(cib_id: current_cib.id, format: 'json') } }
    %nav.navbar.navbar-inverse.navbar-fixed-top{ role: 'navigation' }
      .container-fluid{ stye: 'white-space: nobreak;' }
        .navbar-header
          = link_to image_tag('head/white.png'), root_path, class: 'navbar-brand'

        #navbar.navbar-right
          %ul.nav.navbar-nav
            - if current_cib.live?
              %li
                = link_to text_icon(content_tag(:span, _('Simulator'), class: 'hidden-xs'), 'toggle-off'), '#', class: 'simulator', title: _('Enable the simulation mode')
            - else
              %li
                = link_to text_icon(content_tag(:span, _('Production'), class: 'hidden-xs'), 'toggle-on'), '#', class: 'production', title: _('Disable the simulation mode')

            %li
              = link_to text_icon(content_tag(:span, _('Logout'), class: 'hidden-xs'), 'sign-out'), logout_path, class: 'logout'
            %li
              = link_to text_icon(content_tag(:span, _('Menu'), class: 'hidden-xs'), 'bars'), '#', class: 'toggle'

    #wrapper
      #sidebar
        %ul.nav.sidebar-nav
          %li
            %ul
              %li{ class: active_menu_with(:pages) }
                = link_to _('Dashboard'), root_path

          %li
            = _('Report')

            %ul
              %li
                = link_to _('Hearthbeat'), root_path
              %li
                = link_to _('Graph'), root_path
              %li
                = link_to _('History'), root_path

          %li
            = _('Resources')

            %ul
              %li
                = link_to _('Add resource'), root_path
              %li
                = link_to _('Add template'), root_path
              %li
                = link_to _('Add constraint'), root_path

          %li
            = _('Manage')

            %ul
              %li{ class: active_menu_with(:settings) }
                = link_to _('Preferences'), edit_cib_settings_path(cib_id: current_cib.id)

              - if Util.has_feature? :acl_support
                %li{ class: active_menu_with(:roles) }
                  = link_to _('Roles'), cib_roles_path(cib_id: current_cib.id)
              - if Util.has_feature? :acl_support
                %li{ class: active_menu_with(:users) }
                  = link_to _('Users'), cib_users_path(cib_id: current_cib.id)

      #content
        .container-fluid
          = render partial: 'shared/flash', locals: { flash: flash }
          = yield

    %footer
      .container-fluid
        .col-xs-12.text-center
          %dl.dl-inline
            %dt
              = _('Version:')
            %dd.status.version
              = current_cib.meta.version
            %dt
              = _('Stack:')
            %dd.status.stack
              = current_cib.meta.stack
            %dt
              = _('DC:')
            %dd.status.dc
              = current_cib.meta.dc
            %dt
              = _('UI:')
            %dd
              = current_cib.meta.host
