<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="<%= I18n.locale.to_s.gsub("-", "_") %>">
  <head>
    <title>
      <%= meta_title %>
    </title>
    <%= current_metatags %>
    <link href="<%= image_path("favicon.png") %>" rel="shortcut icon"></link>
    <%= stylesheet_link_tag "vendor" %>
    <%= stylesheet_link_tag "authentication" %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag "vendor" %>
    <%= javascript_include_tag "authentication" %>
    <%= javascript_include_tag localized_js %>
    <%= yield :javascripts %>
    <!--[if lt IE 9]
      <%= stylesheet_link_tag "ie" %>
      <%= javascript_include_tag "ie" %>
    -->
  </head>
  <body id="<%= controller_name %>">
    <header>
      <div class="container">
        <div class="row">
          <div class="navbar-header" role="navigation">
            <%= link_to image_tag("head/white.png"), root_path, class: "navbar-brand" %>
          </div>
          <div class="btn-group pull-right language">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              English <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">ar</a></li>
              <li><a href="#">cs</a></li>
              <li><a href="#">de</a></li>
              <li><a href="#">es</a></li>
              <li><a href="#">fr</a></li>
              <li><a href="#">hu</a></li>
              <li><a href="#">it</a></li>
              <li><a href="#">ja</a></li>
              <li><a href="#">ko</a></li>
              <li><a href="#">nl</a></li>
              <li><a href="#">pl</a></li>
              <li><a href="#">pt_BR</a></li>
              <li><a href="#">ru</a></li>
              <li><a href="#">sv</a></li>
              <li><a href="#">zh_CN</a></li>
              <li><a href="#">zh_TW</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container" id="content">
        <div class="row">

          <div class="col-sm-6 hidden-xs">
             <h2>
              SUSE <span>High Availability</span>
            </h2>
             <p>Hawk simplifies the management and configuration of High
               Availability clusters, making it easy to eliminate downtime and
               maximizing service availability.
            </p>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <h3>Sign in</h3>
            <%= render partial: "shared/flash", locals: { flash: flash } %>
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="copyright">Copyright © 2009-2017. SUSE, LLC</div>
          </div>
          <div class="col-sm-3">
            <div class="logo">
              <%= image_tag "logo/white.png", alt: _("SUSE, LLC") %>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-line"></div>
    </footer>
  </body>
</html>
