<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="<%= I18n.locale.to_s.gsub("-", "_") %>">
  <head>
    <title>
      <%= meta_title %>
    </title>
    <%= current_metatags %>
    <link href="<%= image_path("favicon.png") %>" rel="shortcut icon"></link>
    <%= stylesheet_link_tag "vendor" %>
    <%= stylesheet_link_tag "authentication" %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag "vendor" %>
    <%= javascript_include_tag "authentication" %>
    <%= javascript_include_tag localized_js %>
    <%= yield :javascripts %>
    <!--[if lt IE 9]
      <%= stylesheet_link_tag "ie" %>
      <%= javascript_include_tag "ie" %>
    -->
  </head>
  <body id="<%= controller_name %>">
    <header>
      <div class="container">
        <div class="row">
          <div class="navbar-header" role="navigation">
            <%= link_to image_tag("head/white.png"), root_path, class: "navbar-brand" %>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container" id="content">
        <div class="row">

          <div class="col-sm-6 hidden-xs">
             <h2>
              SUSE High Availability Web konsole
            </h2>
            <p>Hawk is a web interface for the HA Pacemaker stack in Linux, allowing you to monitor and administer your Linux cluster from Linux or even non-Linux machines.<br>
              With Hawk, the management and configuration of HA clusters is greatly simplified.
            </p>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <h3>Sign in</h3>
            <%= render partial: "shared/flash", locals: { flash: flash } %>
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="copyright">Copyright © 2009-2017. SUSE, LLC</div>
          </div>
          <div class="col-sm-3">
            <div class="logo">
              <%= image_tag "logo/white.png", alt: _("SUSE, LLC") %>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-line"></div>
    </footer>
  </body>
</html>
