<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="<%= I18n.locale.to_s.gsub("-", "_") %>">
  <head>
    <title>
      <%= meta_title %>
    </title>
    <%= current_metatags %>
    <link href="<%= image_path("favicon.png") %>" rel="shortcut icon"></link>
    <%= stylesheet_link_tag "vendor" %>
    <%= stylesheet_link_tag "authentication" %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag "vendor" %>
    <%= javascript_include_tag "authentication" %>
    <%= javascript_include_tag localized_js %>
    <%= yield :javascripts %>
    <!--[if lt IE 9]
      <%= stylesheet_link_tag "ie" %>
      <%= javascript_include_tag "ie" %>
    -->
  </head>
  <body id="<%= controller_name %>">
    <header>
      <div class="container">
        <div class="row">
          <div class="navbar-header" role="navigation">
            <%= link_to image_tag("head/white.png"), root_path, class: "navbar-brand" %>
          </div>
          <div class="btn-group pull-right language-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              English <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">العربية</a></li>
              <li><a href="#">Čeština</a></li>
              <li><a href="#">Deutsche</a></li>
              <li><a href="#">Español</a></li>
              <li><a href="#">Français</a></li>
              <li><a href="#">Magyar</a></li>
              <li><a href="#">Italiano</a></li>
              <li><a href="#">日本語</a></li>
              <li><a href="#">Korean</a></li>
              <li><a href="#">Nederlands</a></li>
              <li><a href="#">Polskie</a></li>
              <li><a href="#">Português (Brasil)</a></li>
              <li><a href="#">Pусский</a></li>
              <li><a href="#">Svenska</a></li>
              <li><a href="#">中文（简体）</a></li>
              <li><a href="#">中文（台湾)</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container" id="content">
        <div class="row">

          <div class="col-sm-6 hidden-xs">
             <h2>
              SUSE <span>High Availability Web konsole</span>
            </h2>
            <p>Hawk is a web interface for the HA Pacemaker stack in Linux.
              With Hawk, the management and configuration of HA clusters is greatly simplified.
            </p>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <h3>Sign in</h3>
            <%= render partial: "shared/flash", locals: { flash: flash } %>
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="other-links">
              <a href="https://github.com/ClusterLabs/hawk" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
              <a href="http://hawk-ui.github.io/" target="_blank"><span class="circle"><i class="fa fa-book" aria-hidden="true"></i></span></a>
              <a href="http://hawk-guide.readthedocs.io/en/latest/" target="_blank"><span class="circle"><i class="fa fa-newspaper-o fa-fw fa-lg"></i></span></a>
            </div>
            <div class="copyright">Copyright © 2009-2017. SUSE, LLC</div>
          </div>
          <div class="col-sm-3">
            <div class="logo">
              <%= image_tag "logo/white.png", alt: _("SUSE, LLC") %>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-line"></div>
    </footer>
  </body>
</html>
