<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="<%= I18n.locale.to_s.gsub("-", "_") %>">
  <head>
    <title>
      <%= meta_title %>
    </title>
    <%= current_metatags %>
    <link href="<%= image_path("favicon.png") %>" rel="shortcut icon"></link>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
