<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="<%= I18n.locale.to_s.gsub("-", "_") %>">
  <%= render partial: "shared/header" %>
  <body <%= body_attrs %> >
    <div class="<%= navbar_background_class %> navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid" style="white-space: nobreak;">
        <div class="navbar-header">
          <%= link_to image_tag("head/white.png"), root_path, class: "navbar-brand" %>
        </div>
        <div class="metadata status-btn">
          <div  class="circle circle-small">
            <i data-link="class{statusbuttonclass:meta.status}"></i>
          </div>
          <a class="cluster-details-btn" data-toggle="modal" data-target="#modal" href="<%= meta_cib_config_path(cib_id: current_cib.id) %>" title="<%= _("Cluster Details") %>" type="<button">View Cluster Details</a>
        </div>
        <div class="navbar-right" id="navbar">
          <%= render partial: "shared/usernav" %>
        </div>
      </div>
    </div>
    <div class="nav-wrapper">
      <div class="sidebar-wrapper" id="sidebar">
        <div class="sidebar-inner">
          <%= render partial: "shared/mainnav" %>
        </div>
      </div>
      <div class="page-content-wrapper">
        <div class="page-content container-fluid">
          <div class="row flex">
            <div class="col-xs-12 col-sm-8 col-md-7 col-lg-6" id="middle">
              <div class="container-fluid">
                <% if current_cib.sim? %>
                  <div class="row">
                    <%= render partial: "shared/simulator" %>
                  </div>
                <% end %>
                <%= render partial: "shared/flash", locals: { flash: flash } %>
              </div>
              <%= yield %>
            </div>
            <div class="hidden-xs col-sm-4 col-md-5 col-lg-6" id="rightbar">
              <%= yield :rightbar %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: "shared/modal" %>
  </body>
</html>
