!!!

%html{ lang: I18n.locale.to_s.gsub("-", "_") }
  = render partial: "shared/header"

  %body{ **body_attrs }
    .navbar.navbar-fixed-top{ role: "navigation", class: navbar_background_class }
      .container-fluid{ style: "white-space: nobreak;" }
        .navbar-header
          = link_to image_tag("head/white.png", size: "160x30", style: "padding-top: 7px"), root_path, class: "navbar-brand"

        #navbar.navbar-right
          = render partial: "shared/usernav"

    - if current_cib.sim?
      = render partial: "shared/simulator"

    .nav-wrapper
      #sidebar.sidebar-wrapper
        = render partial: "shared/mainnav"

      .page-content-wrapper
        .page-content.container-fluid
          .row
            #middle.col-sm-12
              .container-fluid
                = render partial: "shared/flash", locals: { flash: flash }
              = yield

    = render partial: "shared/footer"
    = render partial: "shared/modal"
