- if request.xhr?
  = form_for(@cluster, url: {action: "add"}, horizontal: true, bootstrap: true, remote: true) do |f|
    .modal-header
      %button.close{ type: "button", data: { dismiss: "modal" } }
        %span{ aria: { hidden: "true" } }
          &times;
        %span.sr-only
          = _("Close")

      %h3.modal-title
        = icon_text "server", _("Add Cluster"), class: "page"

    .modal-body
      = errors_for @cluster
      .form-errors
      = f.text_field :name, placeholder: _("West Coast (example)"), label: _("Cluster name")
      = f.text_field :host, placeholder: _("node1.west.example.com"), label: _("Hostname of node in cluster")
      = f.text_field :port, label: _("Server port to connect to")

    .modal-footer
      = add_button(f, @cluster)

    :javascript
      dashboardSetupAddClusterForm();
