- if request.xhr?
  = form_for(@cluster, url: {action: "add"}, horizontal: true, bootstrap: true, remote: true) do |f|
    .modal-header
      %button.close{ type: "button", data: { dismiss: "modal" } }
        %span{ aria: { hidden: "true" } }
          &times;
        %span.sr-only
          = _("Close")

      %h3.modal-title
        = icon_text "server", _("Add Cluster"), class: "page"

    .modal-body
      = errors_for @cluster
      .form-errors
      = f.text_field :name, placeholder: _("West Coast (example)"), label: _("Cluster name")
      = f.text_field :host, placeholder: _("node1.west.example.com"), label: _("Hostname of node in cluster")
      %fieldset
        %legend
          = _("Advanced")
          %span.pull-right.toggleable.collapsed
            = icon_tag("chevron-down")
        .content{style: "display: none;"}
          = f.text_field :interval, label: _("Update interval (seconds)"), class: "input-mini"
          = f.text_field :port, label: _("Server port to connect to"), class: "input-mini"
          .form-group
            = f.label :https, _("HTTPS"), class: "col-sm-5 control-label"
            .col-sm-7
              = f.check_box :https

    .modal-footer
      = add_button(f, @cluster)

    :javascript
      dashboardSetupAddClusterForm();
