%h1
  = icon_text 'dashboard', _('Dashboard'), class: 'page'

.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h2.panel-title
          = _('Cluster')
      .panel-body
        &nbsp;

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h2.panel-title
          = _('Status')
      .panel-body
        &nbsp;

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h2.panel-title
          = _('Errors')
      .panel-body
        &nbsp;

%ul.nav.nav-tabs.nav-justified.margin-bottom
  %li.active
    = link_to _('Resources'), '#primitives', data: { toggle: 'tab' }
  %li
    = link_to _('Nodes'), '#nodes', data: { toggle: 'tab' }
  %li
    = link_to _('Dependencies'), '#dependencies', data: { toggle: 'tab' }

.tab-content
  #primitives.tab-pane.active
    .panel.panel-default
      %table.table.primitives

  #nodes.tab-pane
    .panel.panel-default
      %table.table.nodes

  #dependencies.tab-pane
