<%= content_for :javascripts do %>
  <%= javascript_include_tag "dashboard" %>
<% end %>
<div class="container-fluid" id="dashboard-container">
  <div class="row">
    <h1>
      <%= icon_text "dashboard", _("Dashboard"), class: "page" %>
      <div class="pull-right">
        <div class="btn-group" role="group">
          <%= link_to icon_text("plus", _("Add Cluster")), add_dashboard_path, class: "btn btn-default", data: {toggle: "modal", target: "#modal" } %>
        </div>
      </div>
    </h1>
  </div>
  <div class="row" id="clusters"></div>
  <% # passing null as name and host means to fetch local cluster information %>
  <% unless current_cib.offline? %>
    <script>
      dashboardAddCluster({"name":null, "host":null, "port":null, https:null, "interval":10}); // Possible values for status_format: "table", "canvas" and "canvas&table"
    </script>
  <% end %>
  <script>
    <%=raw javascript_for_clusters @clusters %>
  </script>


  <div id="status-table"></div>

  <script id="status-table-template" type="text/x-jsrender">
    <!-- TABLE NAVBAR-->
    <!--
    <div class="header">
      <ul class="filter-menu">
        <li>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-align-justify" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
        <li><i class="fa fa-cog" aria-hidden="true"></i></li>
      </ul>
    </div>
    -->
    <!-- END TABLE NAVBAR -->
    <!-- TABLE -->
    <div class="dashbaord-table">
      <table id="table-template" class="table">
          {{!-- NODES ROW--}}
          <tr id="nodes-table-row" class="no-top-border table-header">
          <th colspan="2" class="col-sm-2 no-left-border"></th>
            {{for ~root.nodes itemVar="~node"}}
              <th {{if #index==0}}class="no-left-border"{{/if}}>
                {{if ~node.state === "unclean"}}
                  <span class="status-bar status-danger"></span>
                {{else ~node.state === "online"}}
                  <span class="status-bar status-success"></span>
                {{else ~node.state === "offline"}}
                  <span class="status-bar status-offline"></span>
                {{else ~node.state === "standby"}}
                  <span class="status-bar status-offline"></span>
                {{else ~node.state === "pending"}}
                  <span class="status-bar status-success"></span>
                {{/if}}
                <div id="node-{{:name}}" class="node-name" title="Node id: {{:~node.id}}">{{:name}} <span id="table-cluster-name">{{:~root.crm_config.cluster_name}}</span></div>
                {{if ~node.name === ~root.meta.dc}}
                  <span class="status-icon"><i class="fa fa-home" aria-hidden="true" title="Designated coordinator"></i></span>
                {{/if}}
                {{if ~node.remote == true}}
                  <span class="status-icon"><i class="fa fa-podcast" aria-hidden="true" title="Remote node"></i></span>
                {{/if}}
                {{if ~node.maintenance == true}}
                <span class="status-icon"><i class="fa fa-wrench" aria-hidden="true"></i></span>
                {{/if}}
                {{if ~node.fence_history !== ""}}
                  <i class="fa fa-refresh text-warning" title='{{:~node.fence_history}}'></i>
                {{/if}}
              </th>
            {{/for}}
          </tr>
          {{!-- END NODES --}}
          {{!-- RESOURCES ROWS--}}
          <div id="resources-table-rows">
            {{for ~root.resources itemVar="~resource"}}
              <tr {{if #index==0}}class="no-top-border"{{/if}}>
                <td class="no-left-border resource-icon">
                  {{if ~resource.maintenance == true}}
                    <span class="status-icon"><i class="fa fa-wrench" aria-hidden="true"></i></span>
                  {{/if}}
                  {{if ~resource["type"] === "master"}}
                    <span class="status-icon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                  {{/if}}
                </td>
                <td class="text-left no-left-border">
                  {{if ~resource.state === "stopped" && ~resource["attributes"]["target-role"] === "Stopped"}}
                    <span class="status-bar status-offline"></span>
                  {{else ~resource.state === "stopped"}}
                    <span class="status-bar status-danger"></span>
                  {{/if}}
                  {{if ~resource.state !== "stopped"}}
                    <span class="status-bar status-success"></span>
                  {{/if}}
                    <span id="resource-{{:id}}" class="resource-name">{{:id}}</span>
                </td>
                {{for ~root.nodes itemVar="~node"}}
                  <td {{if #index==0}}class="no-left-border"{{/if}}>
                  {{if ~node.state === "unclean" }}
                    <div class="node-circle status-danger"></div>
                  {{else ~resource.state === "stopped"}}
                    <div class="node-circle status-danger"></div>
                  {{else ~node.state === "offline" }}
                    <div class="node-circle status-offline"></div
                  {{else}}
                    {{props ~resource.running_on itemVar="~nodeWhereTheResourceRun"}}
                      {{if (~nodeWhereTheResourceRun.key === ~node.name) && (~nodeWhereTheResourceRun.prop === "started")}}
                        <div class="node-circle status-success" title="Started"></div>
                      {{else (~nodeWhereTheResourceRun.key === ~node.name) && (~nodeWhereTheResourceRun.prop === "slave")}}
                        <div class="node-circle status-success" title="Started"></div><span class="slave-master">Slave</span>
                      {{else (~nodeWhereTheResourceRun.key === ~node.name) && (~nodeWhereTheResourceRun.prop === "master")}}
                        <div class="node-circle status-success" title="Started"></div><span class="slave-master">Master</span>
                      {{else (~nodeWhereTheResourceRun.key === ~node.name) && (~nodeWhereTheResourceRun.prop === "not_running")}}
                        <div class="node-circle status-default"></div>
                      {{/if}}
                    {{/props}}
                  {{/if}}
                  </td>
                {{/for}}
              </tr>
            {{/for}}
          </div>
          {{!-- END RESOURCES --}}
          {{!-- TICKETS ROWS --}}
          {{if ~root.tickets}}
            <div id="tickets-table-rows">
              {{props ~root.tickets itemVar="~ticket"}}
                <tr>
                  <td class="text-left">
                    <b>{{:~ticket.prop.id}}</b>
                  </td>
                  <td colspan="100%">
                    {{if ~ticket.prop.state === "granted"}}
                      <h5><span class="label label-success">Ticket granted</span></h5>
                    {{else ~ticket.prop.state === "revoked"}}
                      <h5><span class="label label-default">Ticket revoked</span></h5>
                    {{else ~ticket.prop.state === "elsewhere"}}
                      <h5><span class="label label-warning">Ticket granted elsewhere</span></h5>
                    {{/if}}
                    {{if ~ticket.prop.standby === true}}
                      <h5><span class="label label-default">Standby</span></h5>
                    {{/if}}
                  </td>
                </tr>
              {{/props}}
            </div>
          {{/if}}
          {{!-- END TICKETS --}}
        </table>
      </div>
      <!-- TABLE -->
  </script>
