<%= content_for :javascripts do %>
  <%= javascript_include_tag "dashboard" %>
<% end %>
<div class="container-fluid" id="dashboard-container">
  <div class="row">
    <h1>
      <%= icon_text "dashboard", _("Dashboard"), class: "page" %>
      <div class="pull-right">
        <div class="btn-group" role="group">
          <%= link_to icon_text("plus", _("Add Cluster")), add_dashboard_path, class: "btn btn-default", data: {toggle: "modal", target: "#modal" } %>
        </div>
      </div>
    </h1>
  </div>
  <div class="row" id="clusters"></div>
  <% # passing null as name and host means to fetch local cluster information %>
  <% unless current_cib.offline? %>
    <script>
      dashboardAddCluster({"name":null, "host":null, "port":null, https:null, "interval":10});
    </script>
  <% end %>
  <script>
    <%=raw javascript_for_clusters @clusters %>
  </script>

  <div id="cib-status-matrix-details"></div>

  <div id="status-table"></div>

  <script id="status-table-template" type="text/x-jsrender">
    <table class="table table-bordered">
      <tbody>
        {{!-- NODES ROW--}}
        <tr id="nodes-table-row">
          <th class="col-sm-1"></th>
          {{for ~root.nodes itemVar="~node"}}
            <th id="node-{{:name}}">{{:name}}<span>{{:~root.cluster_name}}</span>
              {{if ~node.state === "unclean"}}
                {{:~saveAttrs("node" ,"#node-" + name, "status-error")}}
              {{else ~node.state === "online"}}
                {{:~saveAttrs("node" ,"#node-" + name, "status-success")}}
              {{else ~node.state === "offline"}}
                {{:~saveAttrs("node" ,"#node-" + name, "status-offline")}}
              {{/if}}
              {{if ~node.remote == true}}
                {{:~saveAttrs("node" ,"#node-" + name, "status-remote")}}
              {{/if}}
              {{if ~node.maintenance == true}}
                {{:~saveAttrs("node" ,"#node-" + name, "status-maintenance")}}
              {{/if}}
            </th>
          {{/for}}
        </tr>
        {{!-- END NODES --}}
        {{!-- RESOURCES ROWS--}}
        <div id="resources-table-rows">
          {{for ~root.resources itemVar="~resource"}}
            <tr>
              <td class="text-left" id="resource-{{:name}}">{{:name}}
                {{if ~resource._stopped == true}}
                  {{:~saveAttrs("resource" ,"#resource-" + name, "status-error")}}
                {{/if}}
                {{if ~resource.instances.length != 0}}
                  {{:~saveAttrs("resource" ,"#resource-" + name, "status-success")}}
                {{/if}}
              </td>
              {{for ~root.nodes itemVar="~node"}}
                <td>
                {{if ~node.state === "unclean" }}
                  <i class="fa fa-circle fa-lg text-danger"></i>
                {{/if}}
                {{if ~resource.instances.length == 0}}
                  {{!-- Todo --}}
                {{else}}
                  {{for ~resource.instances itemVar="~instance"}}
                    {{if ~node.state === "offline" }}
                      {{!-- Todo: the node is offline, gray background --}}
                    {{else ~node.state === "unclean" }}
                      {{!-- Todo: the node is an unclean state, error --}}
                    {{else (~instance.node === ~node.name) && (~instance.state === "started")}}
                      <i class="fa fa-circle fa-lg text-success" title="Started"></i>
                    {{/if}}
                  {{/for}}
                {{/if}}
                </td>
              {{/for}}
            </tr>
          {{/for}}
        </div>
        {{!-- END RESOURCES --}}
      </tbody>
      </table>
  </script>
</div>
