.panel.panel-default
  .panel-body
    = form_for [cib, role], horizontal: true do |main_form|
      - if role.new_record?
        = main_form.text_field :id, label: _('Role ID')
      - else
        = main_form.text_field :id, label: _('Role ID'), readonly: true

      #rules
        = main_form.fields_for :rules do |rule_form|
          %fieldset
            %legend
              = _('Rule')

              .pull-right
                = link_to icon_tag('plus'), '#', class: 'rule add', title: _('Add a rule below')
                = link_to icon_tag('minus'), '#', class: 'rule remove', title: _('Remove this rule')
                = link_to icon_tag('arrow-up'), '#', class: 'rule up', title: _('Move rule up')
                = link_to icon_tag('arrow-down'), '#', class: 'rule down', title: _('Move rule down')

            = rule_form.select :right, :rule_options, {}, id: nil, label: _('Right'), required: true
            = rule_form.text_field :xpath, id: nil, label: _('XPath'), required: true
            = rule_form.text_field :tag, id: nil, label: _('Tag')
            = rule_form.text_field :ref, id: nil, label: _('Ref')
            = rule_form.text_field :attribute, id: nil, label: _('Attribute')

      = main_form.button_group do
        - if role.new_record?
          = role_create_button(main_form, role)
        - else
          = role_apply_button(main_form, role)
          = role_revert_button(main_form, role)

        = link_to _('Back'), cib_roles_path(cib_id: cib.id), class: 'btn btn-default back'
