.panel.panel-default
  .panel-body{ data: { help_target: "#rightbar > .container-fluid > #helpentries > .attrhelp" } }
    = form_for [cib, master], horizontal: true do |main_form|
      = errors_for master

      - if master.new_record?
        = main_form.text_field :id, label: _("Multi-state ID")
        = main_form.select :child, master_child_for(master), { include_hidden: false, include_blank: true }, id: nil, label: _("Child Resource")
      - else
        = main_form.text_field :id, label: _("Multi-state ID"), readonly: true
        = main_form.text_field :child, label: _("Child Resource"), readonly: true

      %fieldset{ data: { attrlist: master[:meta].to_json, attrlist_mapping: master.mapping.to_json, attrlist_prefix: "master[meta]", attrlist_target: ".content" } }
        %legend
          = _("Meta Attributes")
          %span.pull-right.toggleable
            = icon_tag("chevron-up")

        .content

      = main_form.button_group do
        - if master.new_record?
          = create_button(main_form, master)
        - else
          = apply_button(main_form, master)
          = revert_button(main_form, master)

        = link_to _("Back"), edit_cib_path(cib.id), class: "btn btn-default back"
