.panel.panel-default
  .panel-body
    = form_for [cib, master], horizontal: true do |main_form|
      /= errors_for master

      /- if master.new_record?
      /  = main_form.text_field :id, label: _('Master/Slave ID')
      /- else
      /  = main_form.text_field :id, label: _('Master/Slave ID'), readonly: true

      /= main_form.select :roles, :role_options, { include_hidden: false }, { multiple: true, size: 5 }

      = main_form.button_group do
        - if master.new_record?
          = create_button(main_form, master)
        - else
          = apply_button(main_form, master)
          = revert_button(main_form, master)

        = link_to _('Back'), types_cib_resources_path(cib_id: cib.id), class: 'btn btn-default back'
