.container-fluid
  .row
    %h1
      = icon_text "superscript", _("Edit Multi-state"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("plus", _("Create")), new_cib_master_path(cib_id: @cib.id), class: "btn btn-default"
          = link_to icon_text("font", _("Rename")), rename_cib_resource_path(cib_id: @cib.id, id: @master.id, source: :resource), class: "btn btn-default", data: { toggle: :modal, target: "#modal" }
          = link_to icon_text("trash", _("Delete")), cib_master_path(cib_id: @cib.id, id: @master.id), method: "delete", class: "btn btn-default", data: { confirm: _("Are you sure you wish to delete %s?") % @master.id }

  .row
    = render partial: "form", locals: { cib: @cib, master: @master }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :master, mapping: @master.help_text.merge(@master.mapping) }
