%h1
  = icon_text 'home', _('Preferences'), class: 'page'

.panel.panel-default
  .panel-body
    = form_for [@cib, @profile], horizontal: true, method: :put do |main_form|
      = main_form.select :language, :language_options, { include_hidden: false }, {  }

      = main_form.button_group do
        = profile_apply_button(main_form, @profile)
        = profile_revert_button(main_form, @profile)
