.form-group
  .col-sm-5
    = label_tag(param.name, param.title)
  .col-sm-7
    - if param.type == "boolean"
      = check_box_tag(param.name)
    - elsif param.type == "integer"
      = text_field_tag(param.name, param.value, placeholder: param.example || param.type)
    - elsif param.type == "port"
      = text_field_tag(param.name, param.value, placeholder: param.example || param.type)
    - elsif param.type == "resource"
      = text_field_tag(param.name, param.value, placeholder: param.example || param.type)
    - elsif param.type == "ip_address"
      = text_field_tag(param.name, param.value, placeholder: param.example || param.type)
    - elsif param.type == "ip_network"
      = text_field_tag(param.name, param.value, placeholder: param.example || param.type)
    - elsif param.type == "email"
      = text_field_tag(param.name, param.value, placeholder: param.example || param.type)
    - else
      = text_field_tag(param.name, param.value, placeholder: param.example || param.type)
    %p.help-block
      = param.shortdesc
