- param_id = "#{param.id}"
.form-group{data: { help_filter: ".#{param.help_id}" } }
  .col-sm-5
    = label_tag(param_id, param.title)
  .col-sm-7
    - opts = { class: "form-control", required: param.required, data: { "param-type" => param.type, "param-required" => param.required } }
    - if param.required && !step.required
      - opts[:data][:depends] = "enable:#{step.id}"
    - if param.type == "email"
      - opts[:email] = true
    - elsif param.type == "integer" || param.type == "port"
      - opts[:digits] = true
    - if param.type == "boolean"
      - if param.value
        = hidden_field_tag(param_id, 'false')
      - opts[:include_hidden] = false
      = select_tag param_id, boolean_options(param.value || false), opts
    - else
      - unless param.example.blank?
        - opts[:placeholder] = "Example: #{sanitize param.example.to_s}"
      = text_field_tag(param_id, sanitize_value(param.value), opts)
  .col-sm-12.help-block
    = param.shortdesc
