.container-fluid
  .row
    %h1
      = icon_text "magic", @wizard.shortdesc, class: "page"

  .row
    = form_for [@cib, @wizard], horizontal: true, bootstrap: true do |main_form|
      .panel.panel-default
        .panel-body{ data: { help_target: "#rightbar > .container-fluid > *" } }
          .well
            = _("Verifying parameters...")

          = main_form.button_group class: "wizard" do
            = link_to _("Cancel"), cib_wizards_path(cib_id: current_cib.id), class: "btn btn-default", data: { confirm: _("Do you really want to cancel the wizard setup?") }
            = link_to _("Back"), "#", class: "btn btn-default previous"
            = main_form.submit _("Apply"), class: "btn btn-primary finish hidden", name: "submit", data: { confirm: _("Do you really want to apply the current wizard?") }

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.help-title.margin-bottom
      %h2.margin-bottom
        = @wizard.shortdesc
      = longdesc_format @wizard.longdesc

    #helpentries
