.container-fluid
  .row
    %h1
      = icon_text "magic", _("Wizards"), class: "page"

  .row
    %ul.nav.nav-pills.nav-stacked.nav-bighelp.nav-topspace{ data: { help_target: "#rightbar > .rightbar_help > *" } }
      - wizard_categories(@wizards).each do |category|
        %li.toggable.btn.btn-default.btn-lg
          %span{ href: "##{category.dehumanize}", data: { toggle: "collapse", parent: ".nav-bighelp" } }
            .pull-right
              = icon_tag "chevron-down"

            - if category == "wizard"
              = icon_text wizard_icon(category), _("Legacy Wizards")
            - else
              = icon_text wizard_icon(category), category.titleize

          %ul.nav.nav-pills.nav-stacked.collapse{ id: category.dehumanize }
            - @wizards.sort_by(&:name).each do |wizard|
              - next unless wizard.category.eql?(category)

              %li
                = link_to cib_wizard_path(cib_id: current_cib.id, id: wizard.name), data: { help_filter: ".#{wizard.name}" } do
                  .pull-right
                    = icon_tag "plus-circle"
                  = wizard.shortdesc

- content_for :rightbar do
  .container-fluid.rightbar_help{ data: { spy: "affix" } }
    - @wizards.each do |wizard|
      .row.help-title.margin-bottom{ class: wizard.name }
        %h2.margin-bottom
          = wizard.shortdesc

        = longdesc_format wizard.longdesc
