<div class="container-fluid">
  <div class="row">
    <h1>
      <%= icon_text "magic", _("Wizards"), class: "page" %>
    </h1>
  </div>
  <div class="row">
    <ul class="nav nav-pills nav-stacked nav-bighelp nav-topspace" data-help-target="#rightbar > .rightbar_help > *">
      <% wizard_categories(@wizards).each do |category| %>
        <li class="toggable btn btn-default btn-lg">
          <span data-toggle="collapse" data-parent=".nav-bighelp" href="#<%= category.dehumanize %>">
            <div class="pull-right">
              <%= icon_tag "chevron-down" %>
            </div>
            <%= icon_text wizard_icon(category), wizard_category_title(category) %>
          </span>
          <ul class="nav nav-pills nav-stacked collapse" id="<%= category.dehumanize %>">
            <% @wizards.sort_by(&:name).each do |wizard| %>
              <% next unless wizard.category.eql?(category) %>
              <li>
                <%= link_to cib_wizard_path(cib_id: current_cib.id, id: wizard.name), data: { help_filter: ".#{wizard.name}" } do %>
                  <div class="pull-right">
                    <%= icon_tag "plus-circle" %>
                  </div>
                  <%= wizard.shortdesc %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% content_for :rightbar do %>
  <div class="container-fluid rightbar_help" data-spy="affix">
    <% @wizards.each do |wizard| %>
      <div class="<%= wizard.name %> row help-title margin-bottom">
        <h2 class="margin-bottom">
          <%= wizard.shortdesc %>
        </h2>
        <%= longdesc_format wizard.longdesc %>
      </div>
    <% end %>
  </div>
<% end %>
