.container-fluid
  .row
    %h1
      = icon_text "magic", @wizard.shortdesc, class: "page"

  .row
    = form_for [@cib, @wizard], horizontal: true do |main_form|
      .panel.panel-default
        .panel-steps
          %ul.nav.nav-pills
            %li.btn.btn-info.btn-circle{disabled: false, active: true}
              = @wizard.steps.length + 1
            %li.btn.btn-info.btn-circle
              = @wizard.steps.length + 2

        .panel-body
          - @wizard.errors.each do |error|
            .alert.alert-danger
              = error.to_s
          %ul.list-group
            - @wizard.actions.each_with_index do |action, ai|
              %li.list-group-item
                %h4.list-group-item-heading
                  = "#{ai+1}. " + action['shortdesc']
                - unless action['text'].empty?
                  %pre.bg-info= action['text']

          = main_form.button_group class: "wizard" do
            = link_to _("Cancel"), cib_wizards_path(cib_id: current_cib.id), class: "btn btn-default", data: { confirm: _("Do you really want to cancel the wizard setup?") }
            = link_to _("Back"), "#", class: "btn btn-default previous"
            = link_to _("Next"), "#", class: "btn btn-default next"
            = main_form.submit _("Apply"), class: "btn btn-primary finish hidden", disabled: true, name: "submit"

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    %h2.margin-bottom
      = @wizard.shortdesc
    .row
      = longdesc_format @wizard.longdesc
