.container-fluid.wizard-verify
  .row
    %h1
      = icon_text "magic", @wizard.shortdesc, class: "page"

  .row
    = form_for [@cib, @wizard], url: { action: "submit" }, method: :post, horizontal: true, bootstrap: true, remote: true do |main_form|
      = hidden_field_tag :pa, @pa.to_json
      .panel.panel-default
        .panel-steps
          %ul.nav.nav-pills
            - @wizard.steps.each_with_index do |step, index|
              %li.btn.btn-default.btn-circle.disabled
                = index + 1
            - if @wizard.errors.length > 0
              %li.btn.btn-danger.btn-circle.active
                = icon_tag "exclamation-triangle"
            - else
              %li.btn.btn-success.btn-circle.active
                = icon_tag "check"

        .panel-body
          %fieldset
            %legend
              = _("Verify and apply")
            .notifications
              - @wizard.errors.each do |error|
                .alert.alert-danger
                  = error.to_s
            .actions
              %ul.list-group
                - @wizard.actions.each_with_index do |action, ai|
                  %li.list-group-item
                    %h4.list-group-item-heading
                      = "#{ai+1}. " + action['shortdesc']
                    .col-sm-1
                    - unless action['longdesc'].strip.empty?
                      %p.list-group-item-text= action['longdesc']
                    - unless action['text'].empty?
                      - if action['name'] == "cib"
                        %pre
                          %code.crmsh.hljs= action['text']
                      - else
                        %pre.bg-info= action['text']
            - if @wizard.need_rootpw
              .alert.alert-warning
                %p= _("To apply the changes, Hawk requires root access, and password-less SSH access must be configured. See the Hawk documentation for more information.")
              .form-group
                .col-sm-5
                  = label_tag(:rootpw, _("Root password"))
                .col-sm-7
                  = password_field_tag :rootpw, nil, class: "form-control", required: true
                .col-sm-12.help-block
          = main_form.button_group class: "wizard" do
            = link_to _("Cancel"), cib_wizards_path(cib_id: current_cib.id), class: "btn btn-default", data: { confirm: _("Do you really want to cancel the wizard setup?") }
            = link_to _("Back"), cib_wizard_path(cib_id: current_cib.id, id: @wizard.name), class: "btn btn-default"
            - opts = { class: "btn btn-primary finish hidden submit", name: "submit" }
            - opts[:disabled] = true if @wizard.errors.length > 0
            = main_form.submit _("Apply"), opts

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    %h2.margin-bottom
      = @wizard.shortdesc
    .row
      = longdesc_format @wizard.longdesc
