!!!

%html{ lang: "en" }
  %head
    %title
      != @title

    = current_metatags

    %link{ href: image_path("favicon.png"), rel: "shortcut icon" }

    = stylesheet_link_tag "vendor"
    = stylesheet_link_tag "login"

    = yield :stylesheets

    = javascript_include_tag "vendor"
    = javascript_include_tag "login"

    = yield :javascripts

    /[if lt IE 9]
      = stylesheet_link_tag "ie"
      = javascript_include_tag "ie"

  %body
    .container-fluid
      .row
        .col-md-4.col-md-offset-4.col-g-2.col-g-offset-5.darkbar
          %noscript
            .alert.alert-warning{ role: "alert" }
              != _("Please ensure JavaScript is enabled")

          %p{ class: "logo" }
            = image_tag "logo/white.png", alt: "SUSE, LLC"

          %h2
            = link_to "High Availability Web Konsole", root_path

          - flash.each do |type, message|
            .alert{ class: flash_class_for(type), role: "alert" }
              %button.close{ type: "button", data: { dismiss: "alert" } }
                %span{ aria: { hidden: "true" } }
                  &times;
                %span.sr-only
                  = _("Close")

              != message

          = form_for @session, url: signin_path, role: "form" do |f|
            .form-group
              = f.text_field :username, placeholder: _("Username"), class: "form-control"

            .form-group
              = f.password_field :password, placeholder: _("Password"), class: "form-control"

            = f.submit _("Log In"), class: "btn btn-primary btn-lg btn-block"

    %footer
      .container-fluid
        %p
          = _("Copyright &copy; 2009-2014 SUSE, LLC").html_safe
