%form.form-horizontal{role: :form, method: :post, action: cib_apply_path(cib_id: current_cib.id)}
  .modal-header
    %h4
      = icon_tag "rocket"
      = _("Apply Configuration")
      .pull-right.text-muted.small
        = current_cib.id

  .modal-body
    .row
      .col-sm-12
        .cib-apply-diff
          .text-center.text-muted
            = icon_tag 'refresh', class: 'fa-pulse-opacity'
            = _("Calculating list of changes...")

  .modal-footer
    %button.btn.btn-default.cancel{ type: "button", data: { dismiss: "modal" } }
      = _("Cancel")
    %input.btn.btn-primary.submit{ type: :submit, name: :submit, value: _("Apply") }
:javascript
  $(".cib-apply-diff").fetchShadowCIBDiff();
