<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1">
      <div class="<%= status_class_for(@cib.meta[:status]) %> circle circle-medium">
        <%= status_icon_for(@cib.meta[:status]) %>
      </div>
    </div>
    <div class="col-lg-8 errors softhide" data-link="visible{>errors.length > 0}" id="errors">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><a href="#errors"><%= _("Errors") %></a></h2>
        </div>
        <ul class="list-group" data-link="{for errors tmpl='statusError'}"></ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default with-nav-tabs">
      <div class="panel-heading">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active" role="presentation">
            <a href="#resources" role="tab" data-toggle="tab" aria-controls="resources">
              <%= _("Resources") %>
              <span class="badge" data-link="resource_count"></span>
            </a>
          </li>
          <li role="presentation">
            <a href="#nodes" role="tab" data-toggle="tab" aria-controls="nodes">
              <%= _("Nodes") %>
              <span class="badge" data-link="nodes.length"></span>
            </a>
          </li>
          <li role="presentation"  data-link="visible{hasKeys:tickets}">
            <a href="#tickets" role="tab" data-toggle="tab" aria-controls="tickets">
              <%= _("Tickets") %>
              <span class="badge" data-link="countkeys:tickets"></span>
            </a>
          </li>
          <% tags_with_resources.each do |tag| %>
            <li role="presentation">
              <a href='<%= "#tag-#{tag[:id]}" %>' role="tab" data-toggle="tab" aria-controls='<%= "tag-#{tag[:id]}"%>' >
                <%= "\##{tag[:id]}" %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane active" id="resources" role="tabpanel">
            <table class="table resources"></table>
          </div>
          <div class="tab-pane" id="nodes" role="tabpanel">
            <table class="table nodes"></table>
          </div>
          <div class="tab-pane" id="tickets" role="tabpanel">
            <table class="table tickets"></table>
          </div>
          <% tags_with_resources.each do |tag| %>
            <div class="tab-pane" id="tag-<%= tag[:id] %>" role="tabpanel">
              <div class="form-group">
                <div class="tag-controls dropdown pull-right">
                  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                    <%= _("Operations") %>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" data-tagname="<%= tag[:id] %>">
                    <li>
                      <%= link_to(icon_text('play', _("Start")), start_cib_resource_path(cib_id: @cib.id, id: tag[:id]), class: :start) %>
                    </li>
                    <li>
                      <%= link_to(icon_text('stop', _("Stop")), stop_cib_resource_path(cib_id: @cib.id, id: tag[:id]), class: :stop) %>
                    </li>
                    <li class="separator divider"></li>
                    <li>
                      <%= link_to(icon_text('pencil', _("Edit")), edit_cib_tag_path(cib_id: @cib.id, id: tag[:id])) %>
                    </li>
                  </ul>
                </div>
              </div>
              <table class="table tagtable" data-tagname="<%= tag[:id] %>"></table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script id="statusError" type="text/x-jsrender">
  <li class="list-group-item" data-link="class{merge:success toggle='list-group-item-success'} class{merge:info toggle='list-group-item-info'} class{merge:warning toggle='list-group-item-warning'} class{merge:danger toggle='list-group-item-danger'}">
    {^{if link}}
    <a data-link="href{:link}">
      {{:msg}}
    </a>
    {{else}}
      {{:msg}}
    {{/if}}
  </li>
</script>
