.container-fluid
  .row
    %h1
      = icon_text "server", "#{agent_name} - #{agent_shortdesc}", class: "page"
  .row
    .well
      = longdesc_format agent_longdesc
  .row
    %h2
      = _("Parameters")
    %table.table
      %tr
        %th= _("Name")
        %th= _("Shortdesc")
        %th= _("Longdesc")
        %th= _("Options")
      - agent_parameters.each do |p|
        %tr
          - n = p["name"]
          %td= "<code>#{n}</code>".html_safe
          %td= p["shortdesc"]
          %td= longdesc_format p["longdesc"]
          %td= parameter_options p
      
  .row
    %h2
      = _("Actions")
    %table.table
      %tr
        %th= _("Name")
        %th= _("Timeout")
        %th= _("Interval")
        %th= _("Depth")
      - agent_actions.each do |a|
        %tr
          - n = a["name"]
          %td= "<code>#{n}</code>".html_safe
          %td= a["timeout"] || "-"
          %td= a["interval"] || "-"
          %td= a["depth"] || "-"
      
    
