.container-fluid
  .row
    %h1
      = icon_text "heartbeat", "#{agent_name} - #{agent_shortdesc}", class: "page"
  .row
    .well
      = longdesc_format agent_longdesc
  .row
    %h3
      = _("Parameters")
    %table.table
      %tr
        %th= _("Name")
        %th= _("Shortdesc")
        %th= _("Longdesc")
        %th= _("Options")
      - agent_parameters.each do |p|
        %tr
          %td= content_tag :code, p["name"]
          %td= p["shortdesc"]
          %td= longdesc_format p["longdesc"]
          %td= parameter_options p
      
  .row
    %h3
      = _("Actions")
    %table.table
      %tr
        %th= _("Name")
        %th= _("Timeout")
        %th= _("Interval")
        %th= _("Depth")
      - agent_actions.each do |a|
        %tr
          %td= content_tag :code, a["name"]
          %td= a["timeout"] || "-"
          %td= a["interval"] || "-"
          %td= a["depth"] || "-"
      
    
