<% content_for :head do %>
<%= stylesheet_link_tag 'ui.attrlist.css' %>
<%= javascript_include_tag 'jquery.ui.attrlist.js' %>
<style type="text/css">
/* TODO(should): this does not belong here (also need to remove
   inline style from various elements) */
th { font-weight: bold; }
input[type=text] { width: 13em; }
select { width: 13em; }
</style>
<% end %>
<script type="text/javascript">

// TODO(must): make sure add/remove works correctly in IE (no initial option!)
// TODO(should): ENTER in group ID field triggers click on add/remove button (damn!)

var r_meta = <%= Group.metadata.to_json %>;

function enable_apply() {
  if ($("#group_id").val() != "" && $("#group_children")[0].options.length) {
    $("#group_submit").removeAttr("disabled");
    $("#group_revert").removeAttr("disabled");
  } else {
    $("#group_submit").attr("disabled", "disabled");
    $("#group_revert").attr("disabled", "disabled");
  }
}

$(function() {
  $("form").submit(function() {
    $("#group_children").children().each(function() {
      $(this).attr("selected", "selected");
    });
  });
  $("#group_id")
    .bind("keyup change", function() {
      enable_apply();
    }).focus();
  $("#child-add").click(function() {
    $.each($("#available").val() || [], function() {
      $("#group_children").append($('<option value="' + escape_field(this.toString()) + '">' + escape_html(this.toString()) + "</option>"));
      $("#available").children("option[value='" + this.toString() + "']").remove();
    });
    $("#child-add").attr("disabled", "disabled");
    enable_apply();
    return false;
  }).attr("disabled", "disabled");
  $("#child-remove").click(function() {
    $.each($("#group_children").val() || [], function() {
      $("#available").append($('<option value="' + escape_field(this.toString()) + '">' + escape_html(this.toString()) + "</option>"));
      $("#group_children").children("option[value='" + this.toString() + "']").remove();
    });
    $("#child-remove").attr("disabled", "disabled");
    enable_apply();
    return false;
  }).attr("disabled", "disabled");
  $("#group_children").change(function() {
    if ($("#group_children").val()) {
      $("#child-remove").removeAttr("disabled");
    } else {
      $("#child-remove").attr("disabled", "disabled");
    }
  });
  $("#available").change(function() {
    if ($("#available").val()) {
      $("#child-add").removeAttr("disabled");
    } else {
      $("#child-add").attr("disabled", "disabled");
    }
  });
  $("#meta").attrlist({
    all_attrs: r_meta.meta,
    set_attrs: <%= @res.meta.to_json %>,
    prefix: "group[meta]",
    labels: {
      add: "<%= escape_javascript _('Add') %>",
      remove: "<%= escape_javascript _('Remove') %>",
      no_value: "<%= escape_javascript _('You must enter a value') %>"
    },
    dirty: function(event, info) {
      // This might be a bit event-heavy
      enable_apply();
    }
  });
  enable_apply();
});
</script>
<div class="ui-widget-content ui-corner-all" style="padding: 0.5em;">
<% form_for([ @cib, @res ]) do |f| %>
<% flash.each do |flash_type, message| %>
  <div id="flash-<%= flash_type %>" class="ui-state-<%= flash_type %> ui-corner-all" style="padding: 0.5em; margin-bottom: 0.5em;"><%=h message %></div>
<% end %>
<% @res.errors.each do |message| %>
  <div class="ui-state-error ui-corner-all" style="padding: 0.5em; margin-bottom: 0.5em;"><%=h message %></div>
<% end %>
<table>
  <tr>
    <th><%=h f.label :id, _('Group ID') %></th>
  </tr>
  <tr>
    <td><%= f.text_field :id %></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <th><%=h _('Group Children') %></th>
    <td></td>
    <th><%=h _('Available Primitives') %></th>
  </tr>
  <tr>
    <td><%= f.select :children, options_for_select(@res.children, @res.children), {},
        { :multiple => true, :size => 5 } %></td>
    <td>
      <button id="child-add">&lt;</button>
      <br/><br/>
      <button id="child-remove">&gt;</button>
    </td>
    <td><%= select_tag 'available', options_for_select(@cib.resources.select {|r|
        !r.has_key?(:children) }.map{|r| r[:id] }.sort{|a,b| a.natcmp(b, true)}, []),
        { :multiple => true, :size => 5 } %></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <th colspan="4"><%=h _('Meta Attributes') %></th>
  </tr>
  <tr>
    <td colspan="4">
      <div id="meta" class="ui-widget-content ui-corner-all" style="padding: 0.5em; height: 8em; overflow: auto;"></div>
    </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td colspan="4" style="text-align: right;">
      <%= f.submit _('Create Group'), { :disabled => true } %>
      <%= f.submit _('Revert Changes'), { :id => 'group_revert', :name => 'revert', :disabled => true, :style => 'display: none;' } %>
      <%= f.submit _('Back'), { :id => 'group_cancel', :name => 'cancel' } %>
    </td>
  </tr>
</table>
<% end %>
</div>

