<% content_for :head do %>
<%= stylesheet_link_tag 'ui.attrlist.css' %>
<%= stylesheet_link_tag 'ui.panel.css' %>
<%= javascript_include_tag 'jquery.ui.attrlist.js' %>
<%= javascript_include_tag 'jquery.ui.panel.js' %>
<% end %>
<script type="text/javascript">

// TODO(should): ENTER in group ID field triggers click on add/remove button (damn!)

var anything_changed = false;

var r_meta = <%= Group.metadata.to_json.html_safe %>;

function enable_apply() {
  anything_changed = true;
  if ($("#group_id").val() != "" && $("#group_children")[0].options.length) {
    $("#group_submit").removeAttr("disabled");
    $("#group_revert").removeAttr("disabled");
  } else {
    $("#group_submit").attr("disabled", "disabled");
    $("#group_revert").attr("disabled", "disabled");
  }
}

$(function() {
  $("form").submit(function() {
    $("#group_children").children().each(function() {
      $(this).attr("selected", "selected");
    });
  });
  $("#group_id")
    .bind("keyup change", function() {
      enable_apply();
    }).focus();
  $("#child-add").click(function() {
    $.each($("#available").val() || [], function() {
      $("#group_children").append($('<option value="' + escape_field(this.toString()) + '">' + escape_html(this.toString()) + "</option>"));
      $("#available").children("option[value='" + this.toString() + "']").remove();
    });
    $("#child-add").attr("disabled", "disabled");
    enable_apply();
    return false;
  }).attr("disabled", "disabled");
  $("#child-remove").click(function() {
    $.each($("#group_children").val() || [], function() {
      $("#available").append($('<option value="' + escape_field(this.toString()) + '">' + escape_html(this.toString()) + "</option>"));
      $("#group_children").children("option[value='" + this.toString() + "']").remove();
    });
    $("#child-remove").attr("disabled", "disabled");
    enable_apply();
    return false;
  }).attr("disabled", "disabled");
  $("#group_children").change(function() {
    if ($("#group_children").val()) {
      $("#child-remove").removeAttr("disabled");
    } else {
      $("#child-remove").attr("disabled", "disabled");
    }
  });
  $("#available").change(function() {
    if ($("#available").val()) {
      $("#child-add").removeAttr("disabled");
    } else {
      $("#child-add").attr("disabled", "disabled");
    }
  });
  $("#meta").panel({ label: "<%=h escape_javascript _('Meta Attributes') %>", menu_icon: url_root + "/assets/transparent-16x16.gif" });
  $("#meta").panel("body_element").attrlist({
    all_attrs: r_meta.meta,
    set_attrs: <%= @res.meta.to_json.html_safe %>,
    prefix: "group[meta]",
    labels: {
      add: "<%= escape_javascript _('Add') %>",
      remove: "<%= escape_javascript _('Remove') %>",
      no_value: "<%= escape_javascript _('You must enter a value') %>"
    },
    dirty: function(event, info) {
      // This might be a bit event-heavy
      enable_apply();
    }
  });
  if (!$("#meta").panel("body_element").attrlist("empty")) {
    $("#meta").panel("expand");
  }
});
</script>
<%= form_for([ @cib, @res ]) do |f| %>
<table>
  <tr>
    <th><%=h f.label :id, _('Group ID') %></th>
  </tr>
  <tr>
    <td><%= f.text_field :id %></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td>
      <table>
        <tr>
          <th><%=h _('Group Children') %></th>
          <td></td>
          <th><%=h _('Available Primitives') %></th>
        </tr>
        <tr>
          <td><%= f.select :children, options_for_select(@res.children, @res.children), {},
              { :multiple => true, :size => 5 } %></td>
          <td>
            <button id="child-add" type="button">&lt;</button>
            <br/><br/>
            <button id="child-remove" type="button">&gt;</button>
          </td>
          <td><%= select_tag 'available', options_for_select(@cib.resources.select {|r|
              !r.has_key?(:children) }.map{|r| r[:id] }.sort{|a,b| a.natcmp(b, true)}, []),
              { :multiple => true, :size => 5 } %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <div id="meta"></div>
    </td>
  </tr>
</table>
<% end %>

