.container-fluid
  .row
    %h1
      = icon_text "group", _("Edit Group"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("plus", _("Create")), new_cib_group_path(cib_id: @cib.id), class: "btn btn-default"
          = link_to icon_text("font", _("Rename")), rename_cib_resource_path(cib_id: @cib.id, id: @group.id, source: :resource), class: "btn btn-default", data: { toggle: :modal, target: "#modal" }
          = link_to icon_text("trash", _("Delete")), cib_group_path(cib_id: @cib.id, id: @group.id), method: "delete", class: "btn btn-default", data: { confirm: _("Are you sure you wish to delete %s?") % @group.id }

  .row
    = render partial: "form", locals: { cib: @cib, group: @group }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :group, mapping: @group.help_text.merge(@group.mapping) }
