<script type="text/javascript">
$(function() {
  if ($("#dialog").dialog("isOpen")) {
    $("#dialog").data("req", $.get("<%= resource_events_path(params[:cib_id], params[:id]) %>", "format=json", null, "script"));
  }
});
</script>
<div id="res-log-wait">
<table style="width: 100%;">
  <tr style="vertical-align: middle;">
    <td>
      <span id="res-log-us"><%=h _("Getting recent events (last hour)...") %></span>
      <span id="res-log-them" style="display: none;"><%=h _('Another "crm history" operation is in progress...') %></span>
    </td>
    <td><%= image_tag 'spinner-16x16-neutral.gif', :alt => '' %></td>
  </tr>
</table>
</div>
<div id="res-log-none" style="display: none;">
<%=h _("No events found in last hour.") %>
</div>
<div id="res-log" style="display: none;">
</div>
