.container-fluid
  .modal-header
    %h4
      = icon_tag "search"

      = @resource.id
      .pull-right.text-muted.small.text-uppercase
        = @resource.object_type

  .modal-body
    .panel
      - if @resource.class.cib_type == :template || @resource.class.cib_type == :primitive
        .row
          .col-md-5
            %label= _("Agent")
          .col-md-7
            = @resource.agent_name
      - elsif @resource.class.cib_type == :group
        .row
          .col-md-5
            %label= _("Children")
          .col-md-7
            = @resource.children.join(", ")
      - elsif @resource.class.cib_type == :master || @resource.class.cib_type == :clone
        .row
          .col-md-5
            %label= _("Child")
          .col-md-7
            = @resource.child
    .row
      - if @resource.params.any?
        .panel.panel-default
          .panel-heading#r-paramcontrol{role: :tab}
            %h4.panel-title
              %a{role: :button, data: {toggle: :collapse}, href: "#r-params", aria: {expanded: true, controls: "r-params"}}
                = _("Parameters")
                .pull-right
                  %span.caret
          #r-params.panel-collapse.collapse.in{role: :tabpanel, aria: {labelledby: "r-paramcontrol"}}
            %table.table.table-condensed
              - @resource.params.each do |name, value|
                %tr
                  %td.col-sm-5= name
                  %td.col-sm-7= content_tag :code, value
      - if @resource.meta.any?
        .panel.panel-default
          .panel-heading#r-metacontrol{role: :tab}
            %h4.panel-title
              %a{role: :button, data: {toggle: :collapse}, href: "#r-metas", aria: {expanded: true, controls: "r-metas"}}
                = _("Meta Attributes")
                .pull-right
                  %span.caret
          #r-metas.panel-collapse.collapse.in{role: :tabpanel, aria: {labelledby: "r-metacontrol"}}
            %table.table.table-condensed
              - @resource.meta.each do |name, value|
                %tr
                  %td.col-sm-5= name
                  %td.col-sm-7= content_tag :code, value

      - if @resource.utilization.any?
        .panel.panel-default
          .panel-heading#r-utilcontrol{role: :tab}
            %h4.panel-title
              %a{role: :button, data: {toggle: :collapse}, href: "#r-utils", aria: {expanded: true, controls: "r-utils"}}
                = _("Utilization")
                .pull-right
                  %span.caret
          #r-utils.panel-collapse.collapse.in{role: :tabpanel, aria: {labelledby: "r-utilcontrol"}}
            %table.table.table-condensed
              - @resource.utilization.each do |name, value|
                %tr
                  %td.col-sm-5= name
                  %td.col-sm-7= content_tag :code, value

      - if @resource.ops.any?
        .panel.panel-default
          .panel-heading#r-opcontrol{role: :tab}
            %h4.panel-title
              %a{role: :button, data: {toggle: :collapse}, href: "#r-ops", aria: {expanded: true, controls: "r-ops"}}
                = _("Operations")
                .pull-right
                  %span.caret
          #r-ops.panel-collapse.collapse.in{role: :tabpanel, aria: {labelledby: "r-opcontrol"}}
            %table.table.table-condensed
              %tr
                %th.col-sm-5= _("Name")
                %th.col-sm-4= _("Timeout")
                %th.col-sm-3= _("Interval")
              - @resource.ops.each do |id, op|
                %tr
                  %td= op["name"]
                  %td
                    - if op["timeout"]
                      = content_tag(:code, op["timeout"] || "-")
                  %td
                    - if op["interval"]
                      = content_tag(:code, op["interval"] || "-")

      - if @resource.running_on.any?
        .panel.panel-default
          .panel-heading#r-instances{role: :tab}
            %h4.panel-title
              %a{role: :button, data: {toggle: :collapse}, href: "#r-instances-body", aria: {expanded: true, controls: "r-instances-body"}}
                = _("Instances")
                .pull-right
                  %span.caret
          #r-instances-body.panel-collapse.collapse.in{role: :tabpanel, aria: {labelledby: "r-instances"}}
            %table.table.table-condensed
              - @resource.running_on.each do |node, state|
                %tr
                  %td= node
                  %td= content_tag :code, state || "-"

      - if @resource.failed_ops.any?
        .panel.panel-default
          .panel-heading#r-failures{role: :tab}
            %h4.panel-title
              %a{role: :button, data: {toggle: :collapse}, href: "#r-failures-body", aria: {expanded: true, controls: "r-failures-body"}}
                = _("Failed Operations")
                .pull-right
                  %span.caret
          #r-failures-body.panel-collapse.collapse.in{role: :tabpanel, aria: {labelledby: "r-failures"}}
            %table.table.table-condensed
              %tr
                %th= _("Node")
                %th= _("Call")
                %th= _("Operation")
                %th= _("Status")
                %th= _("Reason")
              - @resource.failed_ops.each do |op|
                %tr
                  %td= content_tag :code, op[:node]
                  %td= content_tag :code, op[:call_id]
                  %td= content_tag :code, op[:op]
                  %td= content_tag :code, op[:rc_code]
                  %td= content_tag :code, op[:exit_reason]

  .modal-footer
    %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } }
      = _("Close")
