.container-fluid
  .row
    %h1
      = icon_text "code", _("Add a resource"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("List")), cib_resources_path, class: "btn btn-default"

  .row{ data: { help_target: "#rightbar .rightbar_help > *" } }
    %ul.nav.nav-pills.nav-stacked.nav-bighelp.nav-topspace
      %li
        = link_to new_cib_primitive_path(cib_id: current_cib.id), data: { help_filter: ".primitive" }, class: "btn btn-default btn-lg" do
          .pull-right
            = icon_tag "plus-circle"
          = icon_text "file-o", _("Primitive")
      %li
        = link_to new_cib_group_path(cib_id: current_cib.id), data: { help_filter: ".group" }, class: "btn btn-default btn-lg" do
          .pull-right
            = icon_tag "plus-circle"
          = icon_text "group", _("Group")
      %li
        = link_to new_cib_clone_path(cib_id: current_cib.id), data: { help_filter: ".clone" }, class: "btn btn-default btn-lg" do
          .pull-right
            = icon_tag "plus-circle"
          = icon_text "copy", _("Clone")
      %li
        = link_to new_cib_master_path(cib_id: current_cib.id), data: { help_filter: ".multistate" }, class: "btn btn-default btn-lg" do
          .pull-right
            = icon_tag "plus-circle"
          = icon_text "superscript", _("Multi-state")
      %li
        = link_to new_cib_tag_path(cib_id: current_cib.id), data: { help_filter: ".tag" }, class: "btn btn-default btn-lg" do
          .pull-right
            = icon_tag "plus-circle"
          = icon_text "tag", _("Tag")
      - if Util.has_feature? :rsc_template
        %li
          = link_to new_cib_template_path(cib_id: current_cib.id), data: { help_filter: ".template" }, class: "btn btn-default btn-lg" do
            .pull-right
              = icon_tag "plus-circle"
            = icon_text "file-text-o", _("Template")

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row
      = localized_help_for :resources, :intro

    .rightbar_help
      .row.primitive
        = localized_help_for :resources, :primitive

      .row.group
        = localized_help_for :resources, :group

      .row.clone
        = localized_help_for :resources, :clone

      .row.multistate
        = localized_help_for :resources, :master

      .row.tag
        = localized_help_for :resources, :tag

      .row.template
        = localized_help_for :resources, :template
