<div id="menu::node" style="display: none;"></div>
<div id="menu::reslist" style="display: none;"></div>
<script type="text/javascript">
$(function() {
  $(jq("menu::node")).popupmenu({ iconroot: url_root + "/images/icons/", items: [
    {
      label: "<%=h escape_javascript _('Online') %>",
      icon: "start.png",
      click: function(target) {
        confirm_op(this.label, dc_split(target.attr("id"))[1], "node", "online");
      }
    },
    {
      label: "<%=h escape_javascript _('Standby') %>",
      icon: "pause.png",
      click: function(target) {
        confirm_op(this.label, dc_split(target.attr("id"))[1], "node", "standby");
      }
    },
    {
      label: "<%=h escape_javascript _('Fence Node') %>",
      icon: "kill.png",
      click: function(target) {
        confirm_op(this.label, dc_split(target.attr("id"))[1], "node", "fence");
      }
    }
  ]});
  $(jq("menu::reslist")).popupmenu({ iconroot: url_root + "/images/icons/", items: [
    {
      label: "<%=h escape_javascript _('New Primitive') %>",
      icon: "add.png",
      click: function(target) {
        window.location.assign(url_root + "/cib/live/primitives/new");
      }
    },
    {
      label: "<%=h escape_javascript _('New Group') %>",
      icon: "add.png",
      click: function(target) {
        var has_primitives = false;
        $.each(cib.resources, function() {
          if (!this.children) {
            has_primitives = true;
            return false;
          }
        });
        if (has_primitives) {
          window.location.assign(url_root + "/cib/live/groups/new");
        } else {
          error_dialog("<%= escape_javascript _("Can't create group, there are no primitives available.") %>");
        }
      }
    },
    {
      label: "<%=h escape_javascript _('New Clone') %>",
      icon: "add.png",
      click: function(target) {
        var has_primitives = false;
        $.each(cib.resources, function() {
          if (!this.children || (this.children && this.type == "group")) {
            has_primitives = true;
            return false;
          }
        });
        if (has_primitives) {
          window.location.assign(url_root + "/cib/live/clones/new");
        } else {
          error_dialog("<%= escape_javascript _("Can't create clone, there are no primitives or groups available.") %>");
        }
      }
    },
    {
      label: "<%=h escape_javascript _('New Master/Slave') %>",
      icon: "add.png",
      click: function(target) {
        var has_primitives = false;
        $.each(cib.resources, function() {
          if (!this.children || (this.children && this.type == "group")) {
            has_primitives = true;
            return false;
          }
        });
        if (has_primitives) {
          window.location.assign(url_root + "/cib/live/masters/new");
        } else {
          error_dialog("<%= escape_javascript _("Can't create master/slave, there are no primitives or groups available.") %>");
        }
      }
    }
  ]});
});
</script>
<div id="menu::resource" class="menu" style="display: none;">
  <ul>
    <li id="menu::resource::start" class="menu-item"><a class="icon-start enabled" href="#" onclick="return false;"><%=h _('Start') %></a></li>
    <li id="menu::resource::stop" class="menu-item"><a class="icon-stop enabled" href="#" onclick="return false;"><%=h _('Stop') %></a></li>
    <li id="menu::resource::migrate" class="menu-item"><a class="icon-migrate enabled" href="#" onclick="return false;"><%=h _('Move...') %></a></li>
    <li id="menu::resource::unmigrate" class="menu-item"><a class="icon-unmigrate enabled" href="#" onclick="return false;"><%=h _('Drop Relocation Rule') %></a></li>
    <li id="menu::resource::promote" class="menu-item"><a class="icon-promote enabled" href="#" onclick="return false;"><%=h _('Promote') %></a></li>
    <li id="menu::resource::demote" class="menu-item"><a class="icon-demote enabled" href="#" onclick="return false;"><%=h _('Demote') %></a></li>
    <li id="menu::resource::cleanup" class="menu-item"><a class="icon-cleanup enabled" href="#" onclick="return false;"><%=h _('Clean Up') %></a></li>
    <li id="menu::resource::separator" class="menu-separator"></li>
    <li id="menu::resource::edit" class="menu-item"><a class="icon-edit enabled" href="#" onclick="return false;"><%=h _('Edit Resource') %></a></li>
    <li id="menu::resource::delete" class="menu-item"><a class="icon-remove enabled" href="#" onclick="return false;"><%=h _('Delete Resource') %></a></li>
  </ul>
</div>

