<div id="menu::node" style="display: none;"></div>
<div id="menu::resource" style="display: none;"></div>
<script type="text/javascript">
$(function() {
  $(jq("menu::node")).popupmenu({ iconroot: url_root + "/assets/icons/", items: [
    {
      label: "<%=h escape_javascript _('Online') %>",
      icon: "start.png",
      click: function(target) {
        confirm_op(this.label, item_id(target.attr("id")), "node", "online");
      }
    },
    {
      label: "<%=h escape_javascript _('Standby') %>",
      icon: "pause.png",
      click: function(target) {
        confirm_op(this.label, item_id(target.attr("id")), "node", "standby");
      }
    },
    {
      label: "<%=h escape_javascript _('Fence Node') %>",
      icon: "kill.png",
      click: function(target) {
        confirm_op(this.label, item_id(target.attr("id")), "node", "fence");
      }
    },
    {
      separator: true
    },
    {
      label: "<%=h escape_javascript _('View Details...') %>",
      icon: "details.png",
      click: function(target) {
        $("#dialog").html('<div style="text-align: center;">' +
          '<img src="' + url_root + '/assets/spinner-32x32.gif" alt="" /></div>');
        $("#dialog").load(url_root + "/cib/" + (cib_file ? cib_file : "live") + "/nodes/" + item_id(target.attr("id")));
        var b = {};
        b[GETTEXT.close()]   = function() { $(this).dialog("close"); }
        $("#dialog").dialog("option", {
          title:    parts[1],
          buttons:  b
        });
        $("#dialog").dialog("open");
      }
    }
    <% if Util.has_feature?(:crm_history) && is_god? %>
    ,
    {
      label: "<%=h escape_javascript _('View Recent Events...') %>",
      icon: "details.png",
      click: function(target) {
        $("#dialog").html('<div style="text-align: center;">' +
          '<img src="' + url_root + '/assets/spinner-32x32.gif" alt="" /></div>');
        $("#dialog").load(url_root + "/cib/" + (cib_file ? cib_file : "live") + "/nodes/" + item_id(target.attr("id")) + "/events");
        var b = {};
        b[GETTEXT.close()]   = function() {
          $(this).dialog("close");
        }
        $("#dialog").dialog("option", {
          title:    parts[1],
          buttons:  b
        });
        $("#dialog").dialog("open");
      }
    }
    <% end %>
  ]});
  $(jq("menu::resource")).popupmenu({ iconroot: url_root + "/assets/icons/", items: [
    {
      label: "<%=h escape_javascript _('Start') %>",
      icon: "start.png",
      click: function(target) {
        confirm_op(this.label, item_id(target.attr("id")), "resource", "start");
      }
    },
    {
      label: "<%=h escape_javascript _('Stop') %>",
      icon: "stop.png",
      click: function(target) {
        confirm_op(this.label, item_id(target.attr("id")), "resource", "stop");
      }
    },
    {
      label: "<%=h escape_javascript _('Move...') %>",
      icon: "migrate.png",
      click: function(target) {
        var id = item_id(target.attr("id"));
        var html = '<form><select id="migrate-to" size="4" style="width: 100%;">';
        $.each(cib.nodes, function() {
          html += '<option value="' + this.uname + '">' + GETTEXT.resource_migrate_to(this.uname) + "</option>\n";
        });
        html += '<option selected="selected" value="">' + GETTEXT.resource_migrate_away() + "</option>\n";
        html += "</form></select>";
        $("#dialog").html(html);
        // TODO(could): Is there a neater construct for this localized button thing?
        var b = {};
        b[GETTEXT.ok()] = function() {
          perform_op("resource", id, "migrate", "node=" + $("#migrate-to").val());
          $(this).dialog("close");
        };
        b[GETTEXT.cancel()] = function() {
          $(this).dialog("close");
        };
        $("#dialog").dialog("option", {
          title:    GETTEXT.resource_migrate(id),
          buttons:  b
        });
        $("#dialog").dialog("open");
      }
    },
    {
      label: "<%=h escape_javascript _('Drop Relocation Rule') %>",
      icon: "unmigrate.png",
      click: function(target) {
        confirm_op(this.label, item_id(target.attr("id")), "resource", "unmigrate");
      }
    },
    {
      label: "<%=h escape_javascript _('Promote') %>",
      icon: "promote.png",
      click: function(target) {
        confirm_op(this.label, item_id(target.attr("id")), "resource", "promote");
      }
    },
    {
      label: "<%=h escape_javascript _('Demote') %>",
      icon: "demote.png",
      click: function(target) {
        confirm_op(this.label, item_id(target.attr("id")), "resource", "demote");
      }
    },
    {
      label: "<%=h escape_javascript _('Clean Up') %>",
      icon: "cleanup.png",
      click: function(target) {
        confirm_op(this.label, item_id(target.attr("id")), "resource", "cleanup");
      }
    }
    <% if Util.has_feature?(:crm_history) && is_god? %>
    ,
    {
      separator: true
    },
    {
      label: "<%=h escape_javascript _('View Recent Events...') %>",
      icon: "details.png",
      click: function(target) {
        $("#dialog").html('<div style="text-align: center;">' +
          '<img src="' + url_root + '/assets/spinner-32x32.gif" alt="" /></div>');
        // Note that this picks up history of all clone instances (instance ID is dropped).
        // This is necessary else cloned groups show no history (group instance ID doesn't
        // appear in logs).
        $("#dialog").load(url_root + "/cib/" + (cib_file ? cib_file : "live") + "/resources/" + item_id(target.attr("id")) + "/events");
        var b = {};
        b[GETTEXT.close()]   = function() {
          $(this).dialog("close");
        }
        $("#dialog").dialog("option", {
          title:    item_id(target.attr("id")),
          buttons:  b
        });
        $("#dialog").dialog("open");
      }
    }
    <% end %>
  ]});
});
</script>

