<% content_for :head do %>
<%= stylesheet_link_tag 'ui.popupmenu.css' %>
<%= javascript_include_tag 'jquery.ui.popupmenu.js' %>
<script type="text/javascript" src="<%= url_for(:action => 'gettext', :format => 'js') %>"></script>
<% end %>

<div id="onload-spinner"><%= image_tag 'spinner-32x32.gif', :alt => '' %></div>

<%= render :partial => 'menus' %>

<script type="text/javascript"><!--
$(function() { hawk_init() });
//--></script>

