.panel.panel-default
  .panel-body{ data: { help_target: "#rightbar > .container-fluid > #helpentries > .attrhelp" } }
    = form_for [cib, node], horizontal: true, bootstrap: true do |main_form|
      = errors_for node

      = main_form.text_field :id, label: _("ID"), readonly: true, data: { help_filter: ".row.id" }
      = main_form.text_field :name, label: _("Name"), readonly: true, data: { help_filter: ".row.name" }

      %fieldset{ data: {attrlist: node.params.to_json, attrlist_mapping: node.help_text.merge(node.mapping).to_json, attrlist_prefix: "node[params]", attrlist_target: '.content', attrlist_freeform: 'yes' }}
        %legend
          = _("Attributes")
          %span.pull-right.toggleable
            = icon_tag("chevron-up")
        .content

      %fieldset{ data: {attrlist: node.utilization.to_json, attrlist_mapping: node.help_text.merge(node.mapping).to_json, attrlist_prefix: "node[utilization]", attrlist_target: '.content', attrlist_freeform: 'yes' }}
        %legend
          = _("Utilization")
          %span.pull-right.toggleable
            = icon_tag("chevron-up")
        .content


      = main_form.button_group do
        = apply_button(main_form, node)
        = revert_button(main_form, node)

        = link_to _("Back"), edit_cib_config_path(cib_id: cib.id), class: "btn btn-default back"
