#report-index.container-fluid
  .row
    %h1
      = icon_text "clock-o", _("History Explorer"), class: "page"

  .row#report-controls
    #report-running.panel.panel-info.hidden
      .panel-heading
        = icon_tag 'spinner', class: 'fa-spin'
        = _("Data collection in progress...")
      .panel-body
        %fieldset.disabled
          .form-group
            %label.col-sm-5.control-label{for: "running-from_time"}= _("From")
            .col-sm-7
              %input#running-from-time.form-control{type: :text, value: ""}
          .form-group
            %label.col-sm-5.control-label{for: "running-to_time"}= _("To")
            .col-sm-7
              %input#running-to-time.form-control{type: :text, value: ""}

    #report-tabs.panel.panel-default.with-nav-tabs.hidden
      .panel-heading
        %ul.nav.nav-tabs
          %li.active
            %a{ href: "#generate", data: { toggle: "tab" } }
              = _("Generate")
          %li
            %a{ href: "#upload", data: { toggle: "tab" } }
              = _("Upload")

      .panel-body
        .tab-content
          #generate.tab-pane.fade.in.active
            = form_tag generate_reports_path(format: "json"), remote: true, multipart: false, method: "post", class: "generate" do
              = hidden_field_tag :authenticity_token, form_authenticity_token
              = hidden_field_tag "report[from_time]"
              = hidden_field_tag "report[to_time]"

              .form-group.input-group
                .form-control.form-control-static.rangefield
                  = icon_tag("calendar")
                  %span.current
                  %span.caret

                .input-group-btn
                  %button.btn.btn-primary{ type: "submit", name: "generate" }
                    = icon_text("search", _("Generate"))

          #upload.tab-pane.fade
            = form_tag upload_reports_path(format: "json"), remote: false, multipart: true, method: "post", class: "upload"  do
              .form-group
                %input.form-control.uploadfield{ type: "file", name: "report[upload]" }

  .row
    .panel.panel-default
      .panel-heading
        = _("Reports")
      .panel-body
        %table.table.table-striped.reports
