#report-show.container-fluid{ data: { report: @report.id } }
  .row
    %h1
      = icon_text "clock-o", _("History Explorer"), class: "transition"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("Reports")), reports_path, class: "btn btn-default"

  .row
    .col-md-offset-3.col-md-6
      .panel.panel-info
        .panel-heading
          = icon_tag 'spinner', class: 'fa-spin'
          = _("Loading report...")
        .panel-footer
          %fieldset
            .form-group
              .col-sm-12
                %button#cancel-report-loading.btn.btn-danger{ type: :button }
                  = _("Cancel")
