<% content_for :head do %>
<style type="text/css">
/* TODO(should): move to stylesheet */
#peinputs th {
  font-weight: bold;
  padding-left: 1em;
}
#peinputs td {
  padding-left: 1em;
}
</style>
<% end %>
<div>
<script type="text/javascript">
$(function() {
<% if File.exists?(@pidfile) %>
  setTimeout(function() {
    // Should this be a GET or POST?
    $.get("<%= explorer_path %>", {
      "from_time": "<%= escape_javascript(@from_time) %>",
      "to_time": "<%= escape_javascript(@to_time) %>",
      "display": true }, null, "script");
  }, 10000);  // Somewhat arbitrary, but this is generally long-running
<% end %>
  $("#filter").submit(function() {
    $("#pe-list").children().remove();
  });
  $("#filter").submitWithAjax();
});
</script>
<div style="float: left;">
<% form_tag(explorer_path, :method => :get, :id => "filter") do %>
<%= hidden_field_tag "display", "true" %>
<table id="filter-form" style="<%= File.exists?(@pidfile) ? "display: none;" : "" %>">
  <tr>
    <th><label for="from_time"><%=h _("Start Time:") %></label></th>
    <td><%= text_field_tag "from_time", @from_time, :size => 14 %></td>
    <th><label for="to_time"><%=h _("End Time:") %></label></th>
    <td><%= text_field_tag "to_time", @to_time, :size => 14 %></td>
    <td><%= submit_tag(_('Display')) %></td>
  </tr>
</table>
<div id="filter-wait" style="<%= File.exists?(@pidfile) ? "" : "display: none;" %>">
<table style="width: 100%;">
  <tr style="vertical-align: middle;">
    <td id="filter-progress"><%=h in_progress_msg %></td>
    <td><%= image_tag 'spinner-16x16-neutral.gif', :alt => '' %></td>
  </tr>
</table>
</div>
<% end %>
</div>
<div style="float: right;"><% form_tag(explorer_path, :method => :get) do %><%= submit_tag(_('Back'), { :id => 'back', :name => 'back' }) %><% end %></div>
</div>
<div id="pe-list" style="clear: both;">
<%= render :partial => "pe_list" %>
</div>
