<% content_for :head do %>
<%= stylesheet_link_tag 'jquery-ui-timepicker-addon.css' %>
<%= javascript_include_tag 'jquery-ui-timepicker-addon.js' %>
<style type="text/css">
/* TODO(should): move to stylesheet */
#peinputs th {
  font-weight: bold;
  padding-left: 1em;
}
#peinputs td {
  padding-left: 1em;
}
</style>
<% end %>
<div>
<script type="text/javascript">
$(function() {
<% if File.exists?(@pidfile) %>
  setTimeout(function() {
    // Should this be a GET or POST?
    $.get("<%= explorer_path %>", {
      "from_time": "<%= escape_javascript(@from_time) %>",
      "to_time": "<%= escape_javascript(@to_time) %>",
      "display": true }, null, "script");
  }, 10000);  // Somewhat arbitrary, but this is generally long-running
<% end %>
  $("#filter").submit(function() {
    $(".cache").hide();
    $("#pe-list").children().remove();
  });
  $(".cache a").click(function(event) {
    // Clicking any cache link puts chosen times into form, hides all
    // cached lines and updates the display.  Not quite optimal, but workable.
    $(".cache").hide();
    $("#from_time").val($(this).parent().prev().prev().prev().text());
    $("#to_time").val($(this).parent().prev().text());
  });
  $("#filter").submitWithAjax();
  inline_detail_links();  // just in case
  $("#from_time").datetimepicker({
    dateFormat: "yy-mm-dd",
    showOn: "button",
    buttonImage: url_root + "/images/icons/calendar.png",
    buttonImageOnly: true
  });
  $("#to_time").datetimepicker({
    dateFormat: "yy-mm-dd",
    showOn: "button",
    buttonImage: url_root + "/images/icons/calendar.png",
    buttonImageOnly: true
  });
});
function inline_detail_links() {
  $(".pe-detail").live("click", function(event) {
    event.preventDefault(); // may not be necessary
    event.stopPropagation();
    var peinput = $(this).parent().prev().prev().text();
    var node = $(this).parent().prev().text();
    $("#pe-detail-name").text(peinput + " (" + node + ")");
    $("#pe-detail-spinner").show();
    $("#pe-detail-log").hide();
    // Fixed position breaks overflow scrollbar (*sigh*)
    $("#pe-detail")./*css({
      left: $("#peinputs").parent().position().left + $("#peinputs").parent().outerWidth(),
      position: "fixed"
    }).*/show();
    $.get($(this).attr("href"), "", function(data) {
      $("#pe-detail-spinner").hide();
      $("#pe-detail-log").html("<pre>" + escape_html(data) + "</pre>").show();
    });
    return false;
  });
}
</script>
<div style="float: left;">
<% form_tag(explorer_path, :method => :get, :id => "filter") do %>
<%= hidden_field_tag "display", "true" %>
<table id="filter-form" style="<%= File.exists?(@pidfile) ? "display: none;" : "" %>">
<% unless params[:display] %>
<% @cache.each do |c| %>
  <tr class="cache">
    <td><%=h _("Start Time:") %></td>
    <td><%=h c[:from_time] %></td>
    <td><%=h _("End Time:") %></td>
    <td><%=h c[:to_time] %></td>
    <td><%= link_to ("Display"), explorer_path(
      :from_time => c[:from_time], :to_time => c[:to_time],
      :display => true) %></td>
  </tr>
<% end %>
<% end %>
  <tr>
    <th><label for="from_time"><%=h _("Start Time:") %></label></th>
    <td><%= text_field_tag "from_time", @cache.any? && !params[:display] ? "" : @from_time, :size => 14 %></td>
    <th><label for="to_time"><%=h _("End Time:") %></label></th>
    <td><%= text_field_tag "to_time", @cache.any? && !params[:display] ? "" : @to_time, :size => 14 %></td>
    <td><%= submit_tag(_('Display')) %></td>
  </tr>
</table>
<div id="filter-wait" style="<%= File.exists?(@pidfile) ? "" : "display: none;" %>">
<table>
  <tr style="vertical-align: middle;">
    <td id="filter-progress"><%=h in_progress_msg %></td>
    <td><%= image_tag 'spinner-16x16-neutral.gif', :alt => '' %></td>
  </tr>
</table>
</div>
<% end %>
</div>
<div style="float: right;"><% form_tag(explorer_path, :method => :get) do %><%= submit_tag(_('Back'), { :id => 'back', :name => 'back' }) %><% end %></div>
</div>
<div id="pe-list" style="clear: both;">
<%= render :partial => "pe_list" %>
</div>
