<% content_for :head do %>
<%= stylesheet_link_tag 'ui.rscticket.css' %>
<%= javascript_include_tag 'jquery.ui.rscticket.js' %>
<style type="text/css">
/* TODO(should): this does not belong here, also get rid of inline style */
th { font-weight: bold; }
input[type=text] { width: 13em; }
</style>
<% end %>
<script type="text/javascript">

var anything_changed = false;

function enable_apply() {
  anything_changed = true;
  var enable = $("#ticket_id").val() != "" && $("#ticket_ticket").val() != "";
  if (!$("#constraint").rscticket("valid")) {
    enable = false;
  }
  if (enable) {
    $("#ticket_submit").removeAttr("disabled");
    $("#ticket_revert").removeAttr("disabled");
  } else {
    disable_apply();
  }
}

function disable_apply() {
  $("#ticket_submit").attr("disabled", "disabled");
  $("#ticket_revert").attr("disabled", "disabled");
}

$(function() {
  $("#constraint").rscticket({
      resources: <%=
        # only allows top level resources (not children of clones/groups)
        # TODO(should): look at allowing group children?
        (@cib.resources.map{|r|
          r[:id] } +
        @cib.templates.map{|t|
          t[:id] }).sort{|a,b| a.natcmp(b, true)}.to_json.html_safe
      %>,
      set: <%= @t.resources.map {|r| { :id => r[:id], :role => r[:role] } }.to_json.html_safe
      %>,
      roles: ["Started", "Master", "Slave", "Stopped"],
      imgroot: url_root + "/assets/",
      labels: {
        add: "<%= escape_javascript _('Add') %>",
        remove: "<%= escape_javascript _('Remove') %>",
        heading_add: "<%= escape_javascript _('Add resource to constraint') %>",
        ticket_id: "Ticket ID"
      },
      prefix: "ticket[resources]",
      ticket_fn: "ticket[ticket]",
      dirty: function(event, info) {
        enable_apply();
      },
      single_set: true
    });
  $("#ticket_ticket").val("<%= escape_javascript @t.ticket %>");
  $("#ticket_id,#ticket_ticket,#ticket_loss_policy")
    .bind("keyup change", function() {
      enable_apply();
    }).focus();
<%= render :partial => 'shared/confirm_revert', :locals => { :button_ids => '#ticket_revert,#ticket_cancel' } %>
});
</script>
<%= form_for([ @cib, @t ]) do |f| %>
<% flash.each do |flash_type, message| %>
  <div id="flash-<%= flash_type %>" class="ui-state-<%= flash_type %> ui-corner-all" style="padding: 0.5em; margin-bottom: 0.5em;"><%=h message %></div>
<% end %>
<% @t.errors.values.flatten.each do |message| %>
  <div class="ui-state-error ui-corner-all" style="padding: 0.5em; margin-bottom: 0.5em;"><%=raw inject_linebreaks(message) %></div>
<% end %>
<table>
  <tr>
    <th><%=h f.label :id, _('Constraint ID') %></th>
    <th><%=h f.label :id, _('Loss Policy') %></th>
  </tr>
  <tr>
    <td><%= f.text_field :id %></td>
    <td><%= f.select :loss_policy, options_for_select(["", "stop", "demote", "fence", "freeze"], @t.loss_policy) %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <div id="constraint"></div>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: right;">
      <%= f.submit _('Create Constraint'), { :id => 'ticket_submit', :disabled => true } %>
      <%= f.submit _('Revert Changes'), { :id => 'ticket_revert', :name => 'revert', :disabled => true, :style => 'display: none;' } %>
      <%= f.submit _('Back'), { :id => 'ticket_cancel', :name => 'cancel' } %>
    </td>
  </tr>
</table>
<% end %>

