.panel.panel-default
  .panel-body
    = form_for [cib, ticket], horizontal: true do |main_form|
      = errors_for ticket

      - if ticket.new_record?
        = main_form.text_field :id, label: _("Constraint ID")
      - else
        = main_form.text_field :id, label: _("Constraint ID"), readonly: true

      = main_form.text_field :ticket, label: _("Ticket ID")
      = main_form.select :loss_policy, :ticket_losspolicy_options, { include_hidden: false, include_blank: true }, id: nil, label: _("Loss Policy")

      %fieldset{ data: { constraints: ticket.resources.to_json, constraints_available: available_ticket_resources.to_json, constraints_selects: available_ticket_roles.to_json, constraints_linker: "false", constraints_prefix: "ticket[resources]", constraints_handle: "role", constraints_target: ".content" } }
        %legend
          = _("Resources")
          %span.pull-right.toggleable
            = icon_tag("chevron-up")

        .content.constraints

      = main_form.button_group do
        - if ticket.new_record?
          = create_button(main_form, ticket)
        - else
          = apply_button(main_form, ticket)
          = revert_button(main_form, ticket)

        = link_to _("Back"), edit_cib_config_path(cib_id: cib.id), class: "btn btn-default back"
