<% if request.xhr? %>
  <div class="modal-header">
    <h4>
      <%= icon_tag "search" %>
      <%= _("Ticket:") %>
      <%= @ticket[:id] %>
    </h4>
  </div>
  <div class="modal-body">
    <div class="panel panel-default">
      <div class="panel-heading" id="t-properties" role="tab">
        <h4 class="panel-title">
          <a href="#t-properties-body" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="t-properties-body">
            <%= _("Properties") %>
            <div class="pull-right">
              <span class="caret"></span>
            </div>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse in" id="t-properties-body" role="tabpanel" aria-labelledby="t-properties" >
        <table class="table">
          <tbody>
            <tr>
              <th class="col-xs-4">
                <%= _("Granted") %>
              </th>
              <td class="col-xs-8">
                <% if @ticket[:granted] %>
                  <%= _("Yes") %>
                <% else %>
                  <%= _("No") %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="col-xs-4">
                <%= _("Loss Policy") %>
              </th>
              <td class="col-xs-8">
                <% if @ticket[:loss_policy].blank? %>
                  <%= _("None") %>
                <% else %>
                  <%= @ticket[:loss_policy] %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="col-xs-4">
                <%= _("Last Granted") %>
              </th>
              <td class="col-xs-8">
                <%= @ticket[:last_granted] %>
              </td>
            </tr>
            <tr>
              <th class="col-xs-4">
                <%= _("State") %>
              </th>
              <td class="col-xs-8">
                <%= @ticket[:state] %>
              </td>
            </tr>
            <tr>
              <th class="col-xs-4">
                <%= _("Leader") %>
              </th>
              <td class="col-xs-8">
                <%= @ticket[:leader] %>
              </td>
            </tr>
            <tr>
              <th class="col-xs-4">
                <%= _("Expires") %>
              </th>
              <td class="col-xs-8">
                <%= @ticket[:expires] %>
              </td>
            </tr>
            <tr>
              <th class="col-xs-4">
                <%= _("Commit") %>
              </th>
              <td class="col-xs-8">
                <%= @ticket[:commit] %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <% if @ticket[:constraints] && @ticket[:constraints].any? %>
      <div class="panel panel-default">
        <div class="panel-heading" id="t-resources" role="tab">
          <h4 class="panel-title">
            <a href="#t-resources-body" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="t-resources-body">
              <%= _("Constraints") %>
              <div class="pull-right">
                <span class="caret"></span>
              </div>
            </a>
          </h4>
        </div>
        <div aria-labelledby="t-resources" class="panel-collapse collapse in" id="t-resources-body" role="tabpanel">
          <table class="table">
            <tbody>
              <% @ticket[:constraints].each do |id| %>
                <tr>
                  <td>
                    <%= link_to id, edit_cib_ticket_path(cib_id: @cib.id, id: id) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <% if current_cib.booth[:sites].any? %>
      <div class="panel panel-default">
        <div class="panel-heading" id="t-sites" role="tab">
          <h4 class="panel-title">
            <a href="#t-sites-body" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="t-sites-body">
              <%= _("Sites") %>
              <div class="pull-right">
                <span class="caret"></span>
              </div>
            </a>
          </h4>
        </div>
        <div aria-labelledby="t-sites" class="panel-collapse collapse in" id="t-sites-body" role="tabpanel">
          <table class="table">
            <tbody>
              <% current_cib.booth[:sites].each do |site| %>
                <tr>
                  <td>
                    <% if site.to_s == current_cib.booth[:me] %>
                      <%= content_tag(:strong, site.to_s) %>
                    <% else %>
                      <%= site.to_s %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <% if current_cib.booth[:arbitrators].any? %>
      <div class="panel panel-default">
        <div class="panel-heading" id="t-arbitrators" role="tab">
          <h4 class="panel-title">
            <a href="#t-arbitrators-body" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="t-arbitrators-body">
              <%= _("Arbitrators") %>
              <div class="pull-right">
                <span class="caret"></span>
              </div>
            </a>
          </h4>
        </div>
        <div aria-labelledby="t-arbitrators" class="panel-collapse collapse in" id="t-arbitrators-body" role="tabpanel">
          <table class="table">
            <tbody>
              <% current_cib.booth[:arbitrators].each do |arb| %>
                <tr>
                  <td>
                    <%= arb.to_s %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" type="button">}
      <%= _("Close") %>
    </button>
  </div>
<% end %>
