.row.attrhelp{ class: key }
  %h3.margin-bottom
    - if values[:shortdesc]
      = values[:shortdesc]
    - else
      = content_tag :code, key
  - if values[:longdesc]
    = simple_format values[:longdesc]
  - unless values[:default].blank?
    = content_tag :em, _("Default")
    = ": "
    = content_tag :code, sanitize(values[:default].to_s)
