<ul class="nav sidebar-nav">
  <% unless current_cib.live? %>
    <li>&nbsp;</li>
  <% end %>
    <li>
    </li>
    <li>
    <%= _("Manage") %>
    <ul>
      <li class="<%= active_menu_with(:cib) %>">
        <%= link_to _("Status"), cib_path(cib_id: current_cib.id) %>
      </li>
      <% if current_cib.live? %>
        <li class="<%= active_menu_with(:dashboards) %>">
          <%= link_to _("Dashboard"), dashboard_path %>
        </li>
      <% end %>
      <% if current_cib.live? %>
        <li class="<%= active_menu_with(:reports) %>">
          <%= link_to _("History"), reports_path %>
        </li>
      <% end %>
    </ul>
  </li>
  <% unless current_cib.offline? %>
    <li>
      <%= _("Configuration") %>
      <ul>
        <li class="<%= active_menu_with(:resources, :primitives, :clones, :masters, :templates, :tags) %>">
          <%= link_to _("Add Resource"), types_cib_resources_path(cib_id: current_cib.id) %>
        </li>
        <li class="<%= active_menu_with(:constraints, :locations, :colocations, :orders, :tickets) %>">
          <%= link_to _("Add Constraint"), types_cib_constraints_path(cib_id: current_cib.id) %>
        </li>
        <li class="<%= active_menu_with(:wizards) %>">
          <%= link_to _("Wizards"), cib_wizards_path(cib_id: current_cib.id) %>
        </li>
        <li class="<%= active_menu_with(:configs, :graphs) %>">
          <%= link_to _("Edit Configuration"), edit_cib_config_path(cib_id: current_cib.id) %>
        </li>
        <li class="<%= active_menu_with(:crm_config) %>">
          <%= link_to _("Cluster Configuration"), edit_cib_crm_config_path(cib_id: current_cib.id) %>
        </li>
        <li class="<%= active_menu_with(:commands) %>">
          <%= link_to _("Command Log"), cib_commands_path(cib_id: current_cib.id) %>
        </li>
      </ul>
    </li>
    <% if Util.has_feature? :acl_support %>
      <li>
        <%= _("Access Control") %>
        <ul>
          <li class="<%= active_menu_with(:roles) %>">
            <%= link_to _("Roles"), cib_roles_path(cib_id: current_cib.id) %>
          </li>
          <li class="<%= active_menu_with(:users) %>">
            <%= link_to _("Targets"), cib_users_path(cib_id: current_cib.id) %>
          </li>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>
<div class="footer">
  <%= branding_config[:provider].html_safe %>
</div>
