#simulator-node

%script#simulator{type: "text/x-jsrender"}
  .panel.panel-default
    #simulator-heading.panel-heading
      %h3.panel-title
        %a{href: "#simulator-collapse", role: :button, data: {toggle: :collapse, parent: "#simulator"}, aria: {expanded: true, controls: "simulator-collapse"}}
          = _("Simulator")
          .pull-right
            %span.caret
    #simulator-collapse.panel-collapse.collapse.in{aria: {labelledby: "simulator-heading"}}
      .panel-body
        .container-fluid
          .row
            .col-sm-12
              .errors
          .row
            .col-sm-7
              %select#sim-events.form-control{multiple: true}
              .row
                &nbsp;
              %button#sim-addnode.btn.btn-default.btn-sm{type: :button}
                = icon_text "plus", _("Node")
              %button#sim-addop.btn.btn-default.btn-sm{type: :button}
                = icon_text "plus", _("Operation")
              - unless current_cib.tickets.empty?
                %button#sim-addticket.btn.btn-default.btn-sm{type: :button}
                  = icon_text "plus", _("Ticket")
              %button#sim-delete.btn.btn-default.btn-sm{type: :button}
                = icon_tag "minus"
            .col-sm-5
              .well
                %button#sim-results.btn.btn-default{type: :button, disabled: :disabled}
                  = _("Results")
      .panel-footer
        .container-fluid
          .row
            .pull-right
              %button#sim-reset.btn.btn-warning{type: :button}
                = icon_text "rewind", _("Reset")
              %button#sim-run.btn.btn-primary{type: :button}
                = icon_text "play", _("Run")

%script#sim-results-dialog{type: "text/x-jsrender"}
  .modal-header
    %h3.modal-title
      = _("Simulation Results")
  .modal-body
    #accordion.panel-group{role: :tablist, aria: {multiselectable: true}}
      .panel.panel-default
        #sim-details-hdr.panel-heading{role: :tab}
          %h4.panel-title
            %a{role: :button, href: "#sim-details-body", data: {parent: "#accordion", toggle: :collapse}, aria: {expanded: true, controls: "sim-details-body"}}
              = _("Summary")
              .pull-right
                %span.caret
        #sim-details-body.panel-collapse.collapse.in{role: :tabpanel, aria: {labelledby: "sim-details-hdr"}}
          .panel-body.sim-details
            = icon_tag 'circle-o-notch', class: 'fa-spin'
      .panel.panel-default
        #sim-cib-in-hdr.panel-heading{role: :tab}
          %h4.panel-title
            %a{role: :button, href: "#sim-cib-in-body", data: {parent: "#accordion", toggle: :collapse}, aria: {expanded: false, controls: "sim-cib-in-body"}}
              = _("CIB (in)")
              .pull-right
                %span.caret
        #sim-cib-in-body.panel-collapse.collapse{role: :tabpanel, aria: {labelledby: "sim-cib-in-hdr"}}
          .panel-body.sim-cib-in
            = icon_tag 'circle-o-notch', class: 'fa-spin'
      .panel.panel-default
        #sim-cib-out-hdr.panel-heading{role: :tab}
          %h4.panel-title
            %a{role: :button, href: "#sim-cib-out-body", data: {parent: "#accordion", toggle: :collapse}, aria: {expanded: false, controls: "sim-cib-out-body"}}
              = _("CIB (out)")
              .pull-right
                %span.caret
        #sim-cib-out-body.panel-collapse.collapse{role: :tabpanel, aria: {labelledby: "sim-cib-out-hdr"}}
          .panel-body.sim-cib-out
            = icon_tag 'circle-o-notch', class: 'fa-spin'
      .panel.panel-default
        #sim-graph-hdr.panel-heading{role: :tab}
          %h4.panel-title
            %a{role: :button, href: "#sim-graph-body", data: {parent: "#accordion", toggle: :collapse}, aria: {expanded: false, controls: "sim-graph-body"}}
              = _("Transition Graph")
              .pull-right
                %span.caret
        #sim-graph-body.panel-collapse.collapse{role: :tabpanel, aria: {labelledby: "sim-graph-hdr"}}
          .panel-body.sim-graph
            = icon_tag 'circle-o-notch', class: 'fa-spin'
      .panel.panel-default
        #sim-xml-hdr.panel-heading{role: :tab}
          %h4.panel-title
            %a{role: :button, href: "#sim-xml-body", data: {parent: "#accordion", toggle: :collapse}, aria: {expanded: false, controls: "sim-xml-body"}}
              = _("Transition (XML)")
              .pull-right
                %span.caret
        #sim-xml-body.panel-collapse.collapse{role: :tabpanel, aria: {labelledby: "sim-xml-hdr"}}
          .panel-body.sim-xml
            = icon_tag 'circle-o-notch', class: 'fa-spin'
  .modal-footer
    %button.btn.btn-default{type: :button, data: { dismiss: :modal }}
      = _("Close")

%script#inject-node{type: "text/x-jsrender"}
  %form.form-horizontal{remote: true}
    .modal-header
      %h3.modal-title
        = _("Inject Node Event")
    .modal-body
      .form-group
        %label.col-sm-2.control-label{for: "node-inject-node"}
          = _("Node")
        .col-sm-7
          %select#node-inject-node.form-control
            - current_cib.nodes.each do |n|
              %option= n[:uname]
      .form-group
        %label.col-sm-2.control-label{for: "node-inject-state"}
          = _("State")
        .col-sm-7
          %select#node-inject-state.form-control
            - node_actions.each do |a|
              %option= a
    .modal-footer
      %button.btn.btn-default{type: :button, data: { dismiss: :modal }}
        = _("Cancel")
      %button.btn.btn-primary{type: :submit}
        = icon_text "plus", _("OK")

%script#inject-op{type: "text/x-jsrender"}
  %form.form-horizontal{remote: true}
    .modal-header
      %h3.modal-title
        = _("Inject Operation Event")
    .modal-body
      .form-group
        %label.col-sm-2.control-label{for: "op-inject-rsc"}
          = _("Resource")
        .col-sm-7
          %select#op-inject-rsc.form-control
            - resource_instances.each do |r|
              %option= r
      .form-group
        %label.col-sm-2.control-label{for: "op-inject-op"}
          = _("Operation")
        .col-sm-7
          %select#op-inject-op.form-control
            - op_actions.each do |s|
              %option= s
      .form-group
        %label.col-sm-2.control-label{for: "op-inject-interval"}
          = _("Interval (ms)")
        .col-sm-7
          %input#op-inject-interval.form-control{type: :text}
      .form-group
        %label.col-sm-2.control-label{for: "op-inject-node"}
          = _("Node")
        .col-sm-7
          %select#op-inject-node.form-control
            - current_cib.nodes.each do |n|
              %option= n[:uname]
      .form-group
        %label.col-sm-2.control-label{for: "op-inject-result"}
          = _("Result")
        .col-sm-7
          %select#op-inject-result.form-control
            - op_results.each do |value, name|
              %option{value: value}= name
    .modal-footer
      %button.btn.btn-default{type: :button, data: { dismiss: :modal }}
        = _("Cancel")
      %button.btn.btn-primary{type: :submit}
        = icon_text "plus", _("OK")

%script#inject-ticket{type: "text/x-jsrender"}
  %form.form-horizontal{remote: true}
    .modal-header
      %h3.modal-title
        = _("Inject Ticket Event")
    .modal-body
      .form-group
        %label.col-sm-2.control-label{for: "ticket-inject-ticket"}
          = _("Ticket")
        .col-sm-7
          %select#ticket-inject-ticket.form-control
            - current_cib.tickets.each do |t|
              %option= t[:id]
      .form-group
        %label.col-sm-2.control-label{for: "ticket-inject-action"}
          = _("Action")
        .col-sm-7
          %select#ticket-inject-action.form-control
            - ticket_actions.each do |a|
              %option= a
    .modal-footer
      %button.btn.btn-default{type: :button, data: { dismiss: :modal }}
        = _("Cancel")
      %button.btn.btn-primary{type: :submit}
        = icon_text "plus", _("OK")
