.panel.panel-default
  .panel-body
    = form_for [cib, colocation], horizontal: true do |main_form|
      = errors_for colocation

      - if colocation.new_record?
        = main_form.text_field :id, label: _("Constraint ID")
      - else
        = main_form.text_field :id, label: _("Constraint ID"), readonly: true

      = main_form.text_field :score, label: _("Score")
      = main_form.text_field :node_attr, label: _("Node Attribute")

      %fieldset{ data: { constraints: colocation.resources.to_json, constraints_available: available_colocation_resources.to_json, constraints_selects: available_colocation_roles.to_json, constraints_prefix: "colocation[resources]", constraints_target: ".content" } }
        %legend
          = _("Resources")
          %span.pull-right.toggleable
            = icon_tag("chevron-up")

        .content.constraints

      = main_form.button_group do
        - if colocation.new_record?
          = create_button(main_form, colocation)
        - else
          = apply_button(main_form, colocation)
          = revert_button(main_form, colocation)

        = link_to _("Back"), edit_cib_config_path(cib_id: cib.id), class: "btn btn-default back"
