<% content_for :head do %>
<%= stylesheet_link_tag 'ui.constraint.css' %>
<%= javascript_include_tag 'jquery.ui.constraint.js' %>
<style type="text/css">
/* TODO(should): this does not belong here, also get rid of inline style */
th { font-weight: bold; }
input[type=text] { width: 13em; }
</style>
<% end %>
<script type="text/javascript">

var anything_changed = false;

function enable_apply() {
  anything_changed = true;
  var enable = $("#colocation_id").val() != "" && $("#colocation_score").val() != "";
  if (!$("#constraint").constraint("valid")) {
    enable = false;
  }
  if (enable) {
    $("#colocation_submit").removeAttr("disabled");
    $("#colocation_revert").removeAttr("disabled");
  } else {
    disable_apply();
  }
}

function disable_apply() {
  $("#colocation_submit").attr("disabled", "disabled");
  $("#colocation_revert").attr("disabled", "disabled");
}

$(function() {
  $("#constraint").constraint({
      resources: <%=
        # only allows top level resources (not children of clones/groups)
        # TODO(should): look at allowing group children?
        (@cib.resources.map{|r|
          r[:id] } +
        @cib.templates.map{|t|
          t[:id] }).sort{|a,b| a.natcmp(b, true)}.to_json
      %>,
      chain: <%= @col.resources.map {|set|
        if (set[:sequential])
          set[:resources].map {|r|
            { :resources => [{ :id => r[:id], :action => set[:role] || '' }] }
          }
        else
          {
            :resources => set[:resources].map {|r|
              { :id => r[:id], :action => set[:role] || '' }
            }
          }
        end
      }.flatten(1).to_json
      %>,
      actions: ["Started", "Master", "Slave", "Stopped"],
      imgroot: url_root + "/images/",
      labels: {
        add: "<%= escape_javascript _('Add') %>",
        remove: "<%= escape_javascript _('Remove') %>",
        link: "<%= escape_javascript _('Link set') %>",
        cut: "<%= escape_javascript _('Break set') %>",
        swap: "<%= escape_javascript _('Swap resources') %>",
        heading_add: "<%= escape_javascript _('Add resource to constraint') %>"
      },
      prefix: "colocation[resources]",
      dirty: function(event, info) {
        enable_apply();
      }
    });
  $("#colocation_id,#colocation_score")
    .bind("keyup change", function() {
      enable_apply();
    }).focus();

<%= render :partial => 'shared/confirm_revert', :locals => { :button_ids => '#colocation_revert,#colocation_cancel' } %>
});
</script>
<% form_for([ @cib, @col ]) do |f| %>
<% flash.each do |flash_type, message| %>
  <div id="flash-<%= flash_type %>" class="ui-state-<%= flash_type %> ui-corner-all" style="padding: 0.5em; margin-bottom: 0.5em;"><%=h message %></div>
<% end %>
<% @col.errors.each do |message| %>
  <div class="ui-state-error ui-corner-all" style="padding: 0.5em; margin-bottom: 0.5em;"><%=h message %></div>
<% end %>
<table>
  <tr>
    <th><%=h f.label :id, _('Constraint ID') %></th>
    <th><%=h f.label :score, _('Score') %></th>
  </tr>
  <tr>
    <td><%= f.text_field :id %></td>
    <td><%= f.text_field :score %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <div id="constraint"></div>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: right;">
      <%= f.submit _('Create Constraint'), { :disabled => true } %>
      <%= f.submit _('Revert Changes'), { :id => 'colocation_revert', :name => 'revert', :disabled => true, :style => 'display: none;' } %>
      <%= f.submit _('Back'), { :id => 'colocation_cancel', :name => 'cancel' } %>
    </td>
  </tr>
</table>
<% end %>

