.container-fluid
  .row
    %h1
      = icon_text "copy", _("Tags"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("plus", _("Create")), new_cib_tag_path, class: "btn btn-default"

  .row
    .panel.panel-default
      %table.table.table-striped.tags

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.tag
      = localized_help_for :resources, :tag

    - Tag.mapping.each do |key, values|
      .row{ class: key }

        - next unless values[:longdesc]

        %h2.margin-bottom
          = key

        = simple_format values[:longdesc]
