.container-fluid
  .row
    %h1
      = icon_text "copy", _("Create Tag"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("List")), cib_tags_path, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, tag: @tag }

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.tag
      = localized_help_for :resources, :tag

    - @tag.mapping.each do |key, values|
      .row{ class: key }

        - next unless values[:longdesc]

        %h2.margin-bottom
          = key

        = simple_format values[:longdesc]
