.container-fluid
  .row
    %h1
      = icon_text "database", _("Edit Configuration"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list", _("Show")), cib_config_path(cib_id: current_cib.id), class: "btn btn-default"
          = link_to icon_text("file-code-o", _("XML")), cib_config_path(cib_id: current_cib.id, xml: true), class: "btn btn-default"
          = link_to icon_text("file-image-o", _("Graph")), cib_graph_path(cib_id: current_cib.id), class: "btn btn-default"

  .row
    .panel.panel-default.with-nav-tabs
      .panel-heading
        %ul.nav.nav-tabs{role: :tablist}
          %li.active{role: :presentation}
            %a{href: "#resources", role: :tab, data: { toggle: :tab }, aria: { controls: "resources" } }
              = _("Resources")
          %li{role: :presentation}
            %a{href: "#constraints", role: :tab, data: { toggle: :tab }, aria: { controls: "constraints" } }
              = _("Constraints")
          %li{role: :presentation}
            %a{href: "#nodes", role: :tab, data: { toggle: :tab }, aria: { controls: "nodes" } }
              = _("Nodes")
          %li{role: :presentation}
            %a{href: "#tags", role: :tab, data: { toggle: :tab }, aria: { controls: "tags" } }
              = _("Tags")

      .panel-body
        .tab-content
          #resources.tab-pane.active{ role: :tabpanel }
            %table.table.table-striped.resources
          #constraints.tab-pane{ role: :tabpanel }
            %table.table.table-striped.constraints
          #nodes.tab-pane{ role: :tabpanel }
            %table.table.table-striped.nodes
          #tags.tab-pane{ role: :tabpanel }
            %table.table.table-striped.tags
