.container-fluid
  %h1
    = icon_text "image", _("Graph"), class: "page"
    .pull-right
      .btn-group{ role: "group" }
        = link_to icon_text("database", _("Edit")), edit_cib_config_path(cib_id: current_cib.id), class: "btn btn-default"
        = link_to icon_text("list", _("Show")), cib_config_path(cib_id: current_cib.id), class: "btn btn-default"
        = link_to icon_text("file-code-o", _("XML")), cib_config_path(cib_id: current_cib.id, xml: true), class: "btn btn-default"

  .panel.panel-default
    .panel-body
      .graph-placeholder.text-center
        = '<i class="fa fa-refresh fa-pulse-opacity fa-2x"></i>'.html_safe
      .graph-image
        = image_tag cib_graph_path(cib_id: current_cib.id, format: "svg", t: Time.now.to_i), class: "img-responsive center-block", alt: _("Graph")
:javascript
  $(window).load(function() {
    $(".graph-placeholder").hide();
  });
