<% content_for :head do %>
<%= stylesheet_link_tag 'ui.panel.css' %>
<%= stylesheet_link_tag 'ui.popupmenu.css' %>
<%= javascript_include_tag 'jquery.ui.panel.js' %>
<%= javascript_include_tag 'jquery.ui.popupmenu.js' %>
<script src="<%= url_for(:controller => 'main', :action => 'gettext', :format => 'js') %>" type="text/javascript"></script>
<style type="text/css">
/* TODO(should): move to stylesheet */
td {
  vertical-align: top;
  white-space: nowrap;
}
td span {
  border: 1px solid #000;
  padding: 0 0.5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: monospace;
  white-space: nowrap;
}
th {
  padding-top: 0.5em;
  font-weight: bold;
}
img {
  vertical-align: middle;
}
table {
  width: 100%;
}
td.id {
  width: 5em;
}
td.score {
  width: 5em;
}
td.button {
  text-align: right;
}
</style>
<% end %>

<script type="text/javascript">

$(function() {
  $("#constraint").popupmenu({ iconroot: url_root + "/images/icons/", items: [
    {
      label: "<%=h escape_javascript _('Edit Constraint') %>",
      icon: "edit.png",
      click: function(target) {
        // Using name, not id, in case there's conflicts between constraint
        // ID and other bits of HTML.
        var id = target.attr("name");
        var type = target.closest(".ui-panel").attr("id");
        window.location.assign(url_root + "/cib/live/" + type + "/" + id + "/edit");
      }
    },
    {
      label: "<%=h escape_javascript _('Delete Constraint') %>",
      icon: "remove.png",
      click: function(target) {
        var id = target.attr("name");
        target.children(":first").attr("src", url_root + "/images/spinner-16x16-neutral.gif");
        // Abuse of /main/resource/delete, which is generic enough to delete anything
        // TODO(should): Fix error message (refers to "error deleting resource")
        // TODO(should): Consolidate this request stuff, esp. the error case.
        $.ajax({ url: url_root + "/main/resource/delete",
          data: "format=json&resource=" + id,
          type: "POST",
          success: function() {
            // Remove spinner (a spinner that stops too early is marginally better than one that never stops)
            target.children(":first").attr("src", url_root + "/images/icons/properties.png");
            // Show "no constraints defined" if we're about to get rid of the last one
            if (target.closest("table")[0].rows.length == 2) {
              target.closest("table").find("tr").show();
            }
            target.closest("tr").remove();
          },
          error: function(request) {
            // Remove spinner
            target.children(":first").attr("src", url_root + "/images/icons/properties.png");
            var json = json_from_request(request);
            if (json) {
              error_dialog(json.error, json.stderr ? json.stderr : null);
            } else {
              if (request.status == 403) {
                // 403 == permission denied
                error_dialog(GETTEXT.err_denied());
              } else {
                error_dialog(GETTEXT.err_unexpected(request.status));
              }
            }
          }
        });
      }
    }
  ]});
  $("#locations").panel({
    menu_href:  url_root + "/cib/live/locations/new",
    menu_icon:  url_root + "/images/icons/add.png",
    menu_alt:   "<%= escape_javascript _('New Constraint') %>",
    label:      "<%=h escape_javascript _('Location') %>",
    open:       <%= @locations.any? ? 'true' : 'false' %> });
  $("#colocations").panel({
    menu_href:  url_root + "/cib/live/colocations/new",
    menu_icon:  url_root + "/images/icons/add.png",
    menu_alt:   "<%= escape_javascript _('New Constraint') %>",
    label: "<%=h escape_javascript _('Colocation') %>",
    open: <%= @colocations.any? ? 'true' : 'false' %> });
  $("#orders").panel({
    menu_href:  url_root + "/cib/live/orders/new",
    menu_icon:  url_root + "/images/icons/add.png",
    menu_alt:   "<%= escape_javascript _('New Constraint') %>",
    label: "<%=h escape_javascript _('Order') %>",
    open: <%= @orders.any? ? 'true' : 'false' %> });
<% if Util.has_feature?(:rsc_ticket) %>
  $("#tickets").panel({
    menu_href:  url_root + "/cib/live/tickets/new",
    menu_icon:  url_root + "/images/icons/add.png",
    menu_alt:   "<%= escape_javascript _('New Constraint') %>",
    label: "<%=h escape_javascript _('Ticket') %>",
    open: <%= @tickets.any? ? 'true' : 'false' %> });
<% end %>

  // Have to set these up after the panels (panel initializer fiddles with DOM
  // in a way which breaks event handlers if added before panel init)
  $("a.clickable").click(function() {
    return $("#constraint").popupmenu("popup", $(this));
  });

});
</script>
<div id="constraint" style="display: none;"></div>
<div id="locations">
<table>
  <tr<%= ' style="display: none;"' if @locations.any? %>><td><%=h _('(No location constraints defined)') %></td></tr>
<% @locations.sort{|a,b| a.id.natcmp(b.id, true)}.each do |loc| %>
  <tr>
    <td class="id" rowspan="<%= loc.rules.length %>"><%=h loc.id %></td>
    <td class="id" rowspan="<%= loc.rules.length %>"><%=h loc.rsc %></td>
  <%
    first = true
    loc.rules.each do |rule|
      concat "<tr>" unless first
  %>
    <td class="score"><%=h rule[:score] %></td>
    <td><%=
      loc.too_complex? ? h(_('[Constraint is too complex to display]')) :
        (rule[:role] && !rule[:role].empty? ? "(#{rule[:role]}) " : '') +
        rule[:expressions].map {|e|
          !e[:value].empty? ? h("#{e[:attribute]} #{e[:operation]} #{e[:value]}") :
            h("#{e[:operation]} #{e[:attribute]}")
        }.join(h(" #{rule[:boolean_op]} "))
    %></td>
    <% if first ; first = false %>
    <td class="button" rowspan="<%= loc.rules.length %>"><% unless loc.too_complex? %><a class="clickable" name="<%=h loc.id %>"><%= image_tag 'icons/properties.png', :alt => '' %></a><% end %></td>
    <% end %>
  </tr>
  <% end %>
<% end %>
</table>
</div>

<div id="colocations">
<table>
  <tr<%= ' style="display: none;"' if @colocations.any? %>><td><%=h _('(No colocation constraints defined)') %></td></tr>
<% @colocations.sort{|a,b| a.id.natcmp(b.id, true)}.each do |col| %>
  <tr>
    <td class="id"><%=h col.id %></td>
    <td class="score"><%=h col.score %></td>
    <td><%= rsc_set(col) %></td>
    <td class="button"><a class="clickable" name="<%=h col.id %>"><%= image_tag 'icons/properties.png', :alt => '' %></a></td>
  </tr>
<% end %>
</table>
</div>

<div id="orders">
<table>
  <tr<%= ' style="display: none;"' if @orders.any? %>><td><%=h _('(No order constraints defined)') %></td></tr>
<% @orders.sort{|a,b| a.id.natcmp(b.id, true)}.each do |ord| %>
  <tr>
    <td class="id"><%=h ord.id %></td>
    <td class="score"><%=h ord.score %></td>
    <td><%= rsc_set(ord) %></td>
    <td class="button"><a class="clickable" name="<%=h ord.id %>"><%= image_tag 'icons/properties.png', :alt => '' %></a></td>
  </tr>
<% end %>
</table>
</div>

<% if Util.has_feature?(:rsc_ticket) %>
<div id="tickets">
<table>
  <tr<%= ' style="display: none;"' if @tickets.any? %>><td><%=h _('(No ticket constraints defined)') %></td></tr>
<% @tickets.sort{|a,b| a.id.natcmp(b.id, true)}.each do |t| %>
  <tr>
    <td class="id"><%=h t.id %></td>
    <td class="score"><%=h t.loss_policy %></td>
    <td><span><%=h t.ticket %></span><%=
      image_tag('arrow-right.png', :alt => '&rarr;') %><span><%= t.resources.map{|r|
      "#{r[:id]}" + (r[:role] ? ":#{r[:role]}" : "")}.join(" ")
    %></span></td>
    <td class="button"><a class="clickable" name="<%=h t.id %>"><%= image_tag 'icons/properties.png', :alt => '' %></a></td>
  </tr>
<% end %>
</table>
</div>
<% end %>
