.container-fluid
  .row
    %h1
      = icon_text "eye", _("Add a constraint"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("List")), cib_constraints_path, class: "btn btn-default"

  .row
    = localized_help_for :constraints, :intro

  .row
    %ul.nav.nav-pills.nav-stacked.nav-bighelp.nav-topspace{ data: { help_target: "#rightbar > .rightbar_help > *" } }
      %li
        = link_to new_cib_location_path(cib_id: current_cib.id), data: { help_filter: ".location" }, class: "btn btn-default btn-lg" do
          = icon_text "globe", _("Location")
          .pull-right
            = icon_tag "plus-circle"
      %li
        = link_to new_cib_colocation_path(cib_id: current_cib.id), data: { help_filter: ".colocation" }, class: "btn btn-default btn-lg" do
          = icon_text "tasks", _("Colocation")
          .pull-right
            = icon_tag "plus-circle"
      %li
        = link_to new_cib_order_path(cib_id: current_cib.id), data: { help_filter: ".order" }, class: "btn btn-default btn-lg" do
          = icon_text "sort-amount-desc", _("Order")
          .pull-right
            = icon_tag "plus-circle"
      %li
        = link_to new_cib_ticket_path(cib_id: current_cib.id), data: { help_filter: ".ticket" }, class: "btn btn-default btn-lg" do
          = icon_text "ticket", _("Ticket")
          .pull-right
            = icon_tag "plus-circle"

- content_for :rightbar do
  .container-fluid.rightbar_help{ data: { spy: "affix" } }
    .row.location
      = localized_help_for :constraints, :location

    .row.colocation
      = localized_help_for :constraints, :colocation

    .row.order
      = localized_help_for :constraints, :order

    .row.ticket
      = localized_help_for :constraints, :ticket
