.container-fluid
  .row
    %h1
      = icon_text "copy", _("Clones"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("plus", _("Create")), new_cib_clone_path, class: "btn btn-default"

  .row
    .panel.panel-default
      %table.table.table-striped.clones

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.clone
      = localized_help_for :resources, :clone

    - Clone.mapping.each do |key, values|
      - next unless values[:longdesc]

      .row{ class: key }
        %h2.margin-bottom
          = key

        = simple_format values[:longdesc]
